[2017-10-25 09:40] thijsc opened #7 "RdkafkaError should have message with more information"
For example when querying watermarks the error message is this for example:

```Local: Unknown partition (unknown_partition)```

This doesn't tell you the topic and offset, which would be very handy to debug. `RdkafkaError` should have an optional extra message to add this kind of context when appropriate.

[2017-10-25 09:40] thijsc opened #8 "TopicPartitionList add_topic with just number of partitions"
We often have a use case where we know the number of partitions we need in a list. This variation would be useful:

[code]

[2017-10-25 19:44] thijsc commented on #8
Fixed in #9

[2017-10-25 19:44] #8 closed

[2017-10-25 19:53] #7 closed

[2017-10-27 08:28] thijsc opened #11 "RdkafkaError message does not include rdkafka part"
Because we use the message attribute for the extra context.

[2017-11-18 12:35] jurriaan opened #12 "Handle EOF partition error properly in Consumer#each"
When trying this library I got the following error:

[code]

I think the #each method should handle these errors (ignore them, or pass these notifications to the block). Currently the each method itself raises an exception when you reach the end of the partition which is probably not what people expect from this library.

[2017-11-20 09:35] thijsc commented on #12
You can configure this behaviour with `enable.partition.eof`. I agree that it's counterintuitive that this happens with `each`.

I see two options:

* `each` could handle the execption and just keep going
* `each` could handle the execption and yield some kind of special eof message
* We could set `enable.partition.eof` to true by default

I think probably handling the exception makes the most sen

[2017-11-20 09:38] thijsc commented on #11
Fixed in 25f006437e0aaac30f16642b8289740545436031

[2017-11-20 09:38] #11 closed

[2017-12-09 20:39] thijsc opened #15 "Segfault when producing a lot of messages without waiting"
To reproduce produce more than ~ 1000 messages and don't wait for them. I think the Ruby GC cleans up the delivery handles which causes librdkafka to crash when it tries to update them.

[2018-01-11 01:35] frsyuki commented on #15
We had the same issue. SEGV happens in producer only under high load.
I suspect that the thread of `rd_kafka_poll` loop is trying to fill DeliveryHandle at `Rdkafka::Bindings::DeliveryCallback` and the memory of the DeliveryHandle is already freed by GC because reference to the DeliveryHandle is lost. Reference is lost when `Rdkafka::Producer#produce` raises an exception, or `DeliveryHandle#wait`

[2018-01-12 14:11] thijsc commented on #15
Indeed. I haven't found a great way to prevent this yet. We run this under high load, but we add all delivery handles to an array and wait for them. So we don't see this behaviour.

I think there will need to be an internal array that the handles are added to and cleared when the delivery handle finishes.

[2018-01-12 14:18] thijsc commented on #15
I've reproduced it in this test:

[code]

crashes like this most of the time:

[code]

Adding the handle to an array fixes the crash. I'm looking into a way to add this mechanism to the producer internally.

[2018-01-16 10:09] #15 closed

[2018-02-07 20:34] thijsc opened #19 "Producing not working + crash for forked processes"
A C rdkafka instance does not survive a fork. Producing or polling does not work and `rd_kafka_destroy` has a failing assertion that crashes the process when it is called via https://github.com/appsignal/rdkafka-ruby/blob/master/lib/rdkafka/config.rb#L149

A fix to not let `rd_kafka_destroy` crash in this scenario was added in librdkafka: https://github.com/edenhill/librdkafka/commit/8c67e42c0f694

[2018-02-07 21:13] thijsc opened #20 "Statistics support"
Provide hooks into the native rdkafka statistics system so we deliver a nice Ruby hash to a hook on the configured time.

https://github.com/edenhill/librdkafka/wiki/Statistics

[2018-02-07 21:18] thijsc opened #21 "Assign specific topics and partitions to a consumer"
Method to assign a specific list of topics and partitions.`rd_kafka_assign` in librdkafka.

[2018-02-07 21:19] thijsc opened #22 "Get assignment of a consumer"
Method to get the current assignment of a consumer. `assignment` in librdkafka.

[2018-02-07 21:20] thijsc opened #23 "Commit a specific list of topics, partitions and offsets for a consumer"
Currently commit on a consumer only supports committing the current state. We should also support committing a specific list.

[2018-02-07 21:22] thijsc opened #24 "Get position of a consumer"
Support getting the position of a consumer, `rd_kafka_position` in librdkafka. Result should be supported in `lag`.

[2018-02-07 21:29] thijsc opened #25 "Support manual offset store"
When using autocommit, but not auto offset store you can determine when a message is done. `rd_kafka_offset_store` in librdkafka.

[2018-02-08 18:39] #22 closed

[2018-02-08 20:55] thijsc commented on #21
Added in #26

[2018-02-08 20:55] #21 closed

[2018-03-02 09:35] jurriaan commented on #12
I'm currently writing a Kafka Streams-like processor where I want to store the state in a compacted topic and read the state back into memory on start for which I need to know when I'm done. This could be accomplished by this special eof message. For most processors however this EOF messages is not needed so this should be configurable IMO.

[2018-03-02 09:43] thijsc commented on #12
It is configurable already with `enable.partition.eof`, which is `true` by default in librdkafka..

[2018-03-02 09:56] jurriaan commented on #12
@thijsc Ah yes, of course, there is no need for a configuration option in this library then, when the library receives an eof 'error' message it should yield some kind of special eof message. The `enable.partition.eof` flag can then be used to adjust this behaviour.

[2018-03-02 09:59] thijsc commented on #12
Indeed. This issue is still open because I want to make the error handling nicer, but the configuration is good as is.

[2018-03-07 13:16] jurriaan opened #29 "Support Time for timestamp attribute on produce"
I tried to produce messages with timestamps but timestamp needs to be an integer:

[code]

I would expect this library to support Time instances instead of Integers (which should be millisecond unix timestamps I guess?).

[2018-04-19 15:38] #23 closed

[2018-04-19 16:08] thijsc commented on #29
That's a very good point, will add support for using `Time`

[2018-06-01 18:15] mmustala opened #32 "Session timeout for long message processing"
Hi,

The processing time of one message can be several minutes in my app, should I define a higher session.timeout.ms in order to avoid multiple consumers processing the same partition? I really need to be sure that my messages are processed one after the other, and if there is an error in message processing it is retried until I fix the bug that causes the error.

Right now I'm seeing that someti

[2018-06-02 09:45] mmustala commented on #32
After reading https://github.com/edenhill/librdkafka/issues/1817 I tried to increase the session.timeout.ms to 5 minutes (5*60*1000). Made a few consumer restarts and started to get errors for some of the consumers.

First the errors were

[code]

Then it changed to

[code]

This lasted for 20 minutes and then I switched back to lower session timeout and after a while none of the consumers were th

[2018-06-04 08:38] thijsc commented on #32
That should not be possible for messages in the same partition. Are you sure they are? Can you show me some code samples of what you're doing?

[2018-06-04 10:35] mmustala commented on #32
This was actually an issue in AWS lambda triggering. Our Kafka consumer passes the messages to AWS lambda for processing and the lambda invocation method is sometimes invoking the lambda several times. It is a quite annoying feature of that AWS API.

[2018-06-04 11:13] thijsc commented on #32
Ok that makes sense. Can we close this one?

[2018-06-04 11:18] mmustala commented on #32
Yeah.

[2018-06-04 11:18] #32 closed

[2018-06-11 21:22] edgar opened #33 "rwlock_wrlock assertion fails on Mac OS"
I'm using the following `docker-compose.yml`

[code]

and then running the specs with `bundle exec rspec` and I'm getting the following error

[code]

The issue is happening in the `spec/rdkafka/consumer_spec.rb`. I'm running MacOS 10.12.6.

[2018-06-11 21:28] edgar commented on #33
Ohh I just found your comments in https://github.com/edenhill/librdkafka/issues/1000

[2018-06-12 07:44] thijsc commented on #33
Good thing you opened an issue though, wasn't tracking this here.

This is a bit of a puzzle. It seems like something is being double freed, but I haven't been able to spot the mistake yet. Any input on this is highly appreciated!

[2018-06-25 17:49] singpolyma-shopify opened #34 "How are offset commits handled?"
It looks, from reading the code, like `Consumer#each` does not do any committing -- if I call `Consumer#commit` with no arguments... what gets committed?

[2018-06-25 19:22] thijsc commented on #34
In the config for librdkafka `enable.auto.commit` is `true` by default. This together with `auto.commit.interval.ms` will automatically commit the consumer position every 5 seconds.

I should probably add some more documentation for common cases, but in general you can find out a lot about the options and behaviour here: https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md

[2018-06-25 19:42] singpolyma-shopify commented on #34
Oh, so it just commits whatever it has pulled off even if the consumer hasn't processed it yet?

[2018-06-25 20:19] thijsc commented on #34
It does keep track of what gets polled, so it will never commit beyond what you popped of with `each`. If you want full control though you should use #31. Progress has been a bit stalled because of debugging #33, but once that's fixed this will roll out.

[2018-07-12 15:20] thijsc commented on #33
I've traced this down to the pointer that's being created to feed into rdkafka. One of the occurrences is here: https://github.com/appsignal/rdkafka-ruby/blob/master/lib/rdkafka/consumer.rb#L97

It looks like the `MemoryPointer` might run cleanup logic which prevents the later destroy from succeeding. I've been combing through the `ffi` docs and tried to find a way to not have the pointer being fr

[2018-07-12 18:46] headius commented on #33
Hey there! I have not worked on the FFI gem in a while, but I thought there was some way to tell allocated memory not to auto-free? This issue you're having would probably be fine to file as a bug, even if just to get clarification on how to properly handle it. If there's not such a feature, we can add it.

[2018-07-28 07:55] #34 closed

[2018-07-28 07:56] thijsc commented on #33
There is indeed an `autorelease` setting, but that does not seem to influence this issue. I've been debugging a bit more, but no real progress yet. Will do another session over the weekend.

[2018-08-01 20:29] gaffneyc opened #35 "Consumer.each does not return after call to consumer.close"
Giving rdkafka-ruby a try and I was surprised that `consumer.each` didn't return after calling `consumer.close` or `consumer.unsubscribe`.

[code]

It looks like `Consumer#each` is an infinite loop and never checks to see if the connection is still open or valid.

See: https://github.com/appsignal/rdkafka-ruby/blob/master/lib/rdkafka/consumer.rb#L244

[2018-08-02 10:14] thijsc commented on #35
It would indeed make a lot of sense to stop iteration when the consumer is closed. For unsubscribing I don't think it's a good idea. It's possibly to subscribe and unsubscribe to topics at will.

I'll make change to stop iteration when the consumer closes.

[2018-08-02 10:17] thijsc commented on #33
Did some more debugging and haven't really gotten anywhere. I don't know a lot about the `ffi` gem internals so it's hard to find out how to get the exact behaviour I want. I'm considering porting this to a C extension since this gem is only use full on MRI anyway (the Java client makes much more sense in a JVM environment).

[2018-08-02 14:03] thijsc commented on #35
Opened an issue with the `ffi` gem: https://github.com/ffi/ffi/issues/646

[2018-08-02 14:03] thijsc commented on #33
Opened an issue with the ffi gem: ffi/ffi#646

[2018-08-08 11:25] larskanis commented on #33
@thijsc I'm coming from your [issue posted in ffi](https://github.com/ffi/ffi/issues/646). The problem in rdkafka is [here](https://github.com/appsignal/rdkafka-ruby/blob/master/lib/rdkafka/consumer/topic_partition_list.rb#L12): You create an AutoPointer, which is immediately passed to `Rdkafka::Bindings::TopicPartitionList`. Only the TopicPartitionList is stored in an instance variable, but not t

[2018-08-08 19:35] thijsc commented on #33
@larskanis Thanks for providing some insights! I tried an approach that's similar to yours in f7adf82bcba703e2d9bc9eedc982917d658506c7.

That doesn't make a difference. Would you say this is a correct implementation of your approach?

[2018-08-10 21:09] thijsc commented on #33
I think I finally fixed it :-).

After some more discussion I realised that trying to keep native topic partition lists around is not going to be robust. I've re-implemented `TopicPartitionList` to copy everything back and forth to Ruby straight away.

[2018-08-10 21:09] thijsc commented on #33
Pull is in #37

[2018-08-11 20:31] thijsc commented on #33
@edgar I'm interested to see if I can use a docker compose setup to make the Travis build more stable. Played around with it locally but had some connection issues. What does your setup look like exactly?

[2018-08-11 20:42] thijsc commented on #33
@edgar nevermind, working now.

[2018-08-13 14:52] #33 closed

[2018-08-13 15:35] #29 closed

[2018-08-14 04:37] lephyrius opened #41 "Error compiling lbrdkafka"
I tried using this gem but I got this error message when compiling:

[code]

Using latest mac os and xcode. Also I got the same message on the release and latest master.

[2018-08-14 06:08] thijsc commented on #41
Looks like the compile process is having trouble locating OpenSSL. Are you using OpenSSL 1.0? How did you install it?

We still need to do some work on installation instructions.

[2018-08-14 06:11] lephyrius commented on #41
@thijsc I installed it using Homwbrew.
It is this version:
[code]

[2018-08-15 13:50] #20 closed

[2018-08-21 12:14] thijsc commented on #41
@lephyrius did you make progress on this?

[2018-08-22 13:02] thijsc commented on #12
By the way: If you want complete control over this you're probably better off calling `poll` in a loop.

[2018-09-10 19:04] thijsc commented on #41
Closing until more information is added here.

[2018-09-14 10:31] Numbluk opened #42 "Random installation failures"
I was attempting to install `rdkafka-ruby` with `gem install rdkafka -v '0.3.5'`. It failed several times in a row with:

[code]

Out of the blue it ended up working with the same command:

[code]

It may or may not be worth noting that I'm running elementary OS 0.4.1 Loki (Ubuntu).

[2018-09-14 10:32] will-clarke commented on #42
I also had this problem on a mac
(`tar (child): ports/archives/v0.11.3.tar.gz: Cannot open: No such file or directory`)
 which I also solved by just retrying it.. 🤔

Any ideas on what could be going on?

[2018-09-14 12:58] thijsc commented on #42
It downloads the rdkafka release from GitHub. Probably that was unreachable for you. I'll see if it's possible to get miniportile to give a more a clear error message.

[2018-09-15 12:44] koenrh opened #44 "Verify the integrity of the downloaded 'librdkafka' tarball"
I think it would be a good thing (at least from a security point of view) to verify the integrity of resources downloaded from external (potentially untrusted) sources. Think, for example, of a [CDN compromise](https://koen.io/2016/02/13/github-bug-bounty-hunting/).

It would be as easy as adding a `sha256` checksum to the file hash:

[code]

Unfortunately, 'librdkafka' does not publish "official"

[2018-09-15 18:32] thijsc commented on #44
Totally agree with this. If librdkafka doesn't pick this up I'll generate them myself in the future.

[2018-09-21 14:11] adamof commented on #41
In case anyone else is seeing this on os X, I was able to install the library by specifying the following paths to openssl libs:
[code]
The values are taken from the brew post-installation message of openssl (`brew install openssl`)

[2018-09-21 14:15] thijsc commented on #41
Thanks for that! I'm considering adding some platform detection logic to set sensible defaults like this.

[2018-09-24 20:39] thijsc commented on #44
I've implemented this in #45, I'll keep this issue open until official checksums are provided.

[2018-10-16 08:39] thijsc opened #47 "Lag is broken if a topic has no messages"
If a topic has no messages the `lag` method will raise an error, should probably be a nil check here:

https://github.com/appsignal/rdkafka-ruby/blob/master/lib/rdkafka/consumer.rb#L183

[2018-10-30 02:36] alvin2ye opened #50 "ruby 2.3.7p456 run crash"
ENV:

Debian GNU/Linux 8
ruby 2.3.7p456

[code]

[2018-10-30 03:04] alvin2ye commented on #50
resolved.  sorry, It's my setting problem.

[2018-10-30 11:35] thijsc commented on #50
Can you tell me what happend? I'd like to make sure nobody else runs into this.

[2018-10-31 04:28] alvin2ye commented on #50
In my setting file:

[code]

when i not set EVN[xxx], It will crash.

[2018-10-31 07:44] thijsc commented on #50
That doesn't look like the api from this gem. In any case I'll do some verification if `nil` values work properly.

[2018-10-31 19:53] thijsc commented on #50
Haven't been able to reproduce, closing until there is more info.

[2018-10-31 19:54] #50 closed

[2018-10-31 20:09] #25 closed

[2018-11-09 08:19] fyery-chen opened #52 "No provider for SASL mechanism GSSAPI"
The ruby script is like this:
[code]
And when I exec this script, some errors occured as below,
[code]
So I need some help for this.

[2018-11-09 08:43] thijsc commented on #52
Looks like SASL isn't built by default. You can change that by adding the relevant configuration option here: https://github.com/appsignal/rdkafka-ruby/blob/master/ext/Rakefile#L28

Pull request for this would be very welcome. We don't use SASL ourselves so it's a bit hard to test for me.

[2018-11-12 01:35] fyery-chen commented on #52
@thijsc If I have added the relevant configuration option here, how to rebuild it?

[2018-11-14 09:51] JHK opened #54 "Instrumentation support"
To do some deeper introspection on what is going on when receiving or publishing messages it would be useful to have an instrumentation interface compatible to [Active Support Instrumentation](https://guides.rubyonrails.org/active_support_instrumentation.html), default might be just a `NullInstrumenter` which is just discarding information. To have an idea what might be actually useful to instrume

[2018-11-14 10:08] thijsc commented on #54
Thanks for asking. And also for using this gem in racecar! :-)

I have considered integrating AS instrumentation, but given the nature of the underlying C lib I don't see a way in which that approach works well. Did you see the statistics callback we added? https://github.com/appsignal/rdkafka-ruby/pull/40

I just noticed the docs on rubydocs are not properly regenerated for some reason, so you mi

[2018-11-14 10:11] thijsc commented on #54
Also some callbacks would definitively make sense to add, especially for partition assignment changes.

[2018-11-14 10:17] JHK opened #55 "Ability to pause partitions"
When there is an business logic error (e.g. due to unexpected message content) I would like to make progress at least on other partitions. Therefore I propose the following pseudo-code as a draft, implementing the `pause` method on `Rdkafka::Consumer`:

[code]

For reference:
 * [Kafka consumer docs on `pause`](https://kafka.apache.org/10/javadoc/org/apache/kafka/clients/consumer/KafkaConsumer.htm

[2018-11-14 10:23] thijsc commented on #55
Good idea, will add a binding for pause. I assume the code ⬆️ is an example of how you could use it, and not something you'd want to add to the gem?

[2018-11-14 10:43] mensfeld opened #56 "EOS support"
Once released: https://github.com/edenhill/librdkafka/issues/1308 it would be a really, really good feature to have in place.

[2018-11-14 10:53] JHK opened #57 "Poll in batches"
Handling the offset right is cumbersome. Especially, when I want to consume a few messages, do a batch-insert into the database and don't want an offset change before the batch-insert has succeeded. To do so I've disabled the `auto.commit` and do the `commit` manually after the batch got processed successfully (see https://github.com/zendesk/racecar/commit/d00dbc733680318b65ba2b5e28e36a7cfec81086)

[2018-11-14 11:38] mensfeld commented on #57
I'm looking into switching to rdkafka as well once some of the things are available. What I also lack is the batch metadata details (see here: https://github.com/karafka/karafka/blob/1.3-wip/lib/karafka/connection/batch_delegator.rb#L26 and here: https://github.com/karafka/karafka/blob/1.3-wip/lib/karafka/params/builders/metadata.rb)

[2018-11-14 11:53] mensfeld commented on #57
Just as a clarification on the purpose of that: it is just easier to implement rejection logic based on the offset lag for example (so old things won't be processed at all when the lag is growing in favour of the new once)

[2018-11-14 13:09] mensfeld opened #58 "Allow establishing TCP connection for producer before the delivery of a first message"
When starting to produce messages, there's a certain delay upon establishing the TCP connection with Kafka. It would be really good if this library if possible provide a way to have this connection established prior to sending the first message.

For a high volume system with a background producer, this delay can cause buffer overflows when a background queue is enough to handle the regular traffi

[2018-11-14 15:11] JHK commented on #54
@mensfeld I updated the ticket description to be more clear to not rely on ActiveSupport, but rather use the same interface for instrumentation.

[2018-11-14 15:12] JHK commented on #55
Exactly, this is just pseudo code I came up with to explain the use-case. Can probably be used in the documentation of this feature though.

[2018-11-14 19:04] thijsc commented on #52
Instructions are here: https://github.com/appsignal/rdkafka-ruby#development

[2018-11-14 19:13] #35 closed

[2018-11-14 19:23] mensfeld commented on #58
I didn't as I was hoping you guys would know more but I'm fine testing it during the upcoming days and getting back to you with that.

[2018-11-14 19:50] thijsc commented on #41
@lephyrius I might have fixed this in #61. Could you test by https://github.com/appsignal/rdkafka-ruby#development in that branch?

[2018-11-14 19:52] thijsc commented on #47
Fixed in #60

[2018-11-14 19:52] #47 closed

[2018-11-14 19:55] thijsc commented on #56
Totally agree. I'm closing this for now, we should reopen once support for EOF makes it to an official librdkafka release.

[2018-11-14 19:55] #56 closed

[2018-11-16 14:11] thijsc commented on #54
I've been thinking about this quite a bit, especially since I work on a monitoring product all day.

The thing is that I'm not sure there actually is something to measure. Librdkafka does a lot of buffering in the background. Actually consuming a message from Ruby pops something of an internal buffer, which is always super fast. I think what you're talking about mainly happens inside librdkafka. T

[2018-11-19 08:46] JHK commented on #54
Looking at the [instrumentation of `ruby-kafka`](https://github.com/zendesk/ruby-kafka#instrumentation) it provides a notification one can subscribe to whenever a message `produce` gets called. It provides some meta information ([code](https://github.com/zendesk/ruby-kafka/blob/6deffb9df5a2a346b3aba3b20775cb11a012da71/lib/kafka/producer.rb#L214-L222)).

This can then be used for example in the [da

[2018-11-19 10:14] thijsc commented on #54
Right, I think I understand the use case better. You're not so much interested in the performance of the produce call. But you do want to get hooks and see the volume?

[2018-11-19 10:16] mensfeld commented on #54
@thijsc I am interested in the produce performance. Having the instrumentation for it would allow also for the volume at least for DD using the increment over the messages sent to a particular topic.

[2018-11-19 10:20] thijsc commented on #54
What do you see yourself measuring exactly?

[2018-11-19 10:21] mensfeld commented on #54
How many messages can I send per second depending on the ack level plus where do they go (to which topic).

[2018-11-28 11:13] mensfeld commented on #58
@thijsc sorry not yet. Will look at this next week.

[2018-11-30 20:42] thijsc opened #63 "Consumer rebalance callback"
Provide the set of partition changes to a consumer.

https://docs.confluent.io/3.2.1/clients/librdkafka/rdkafka_8h.html#a10db731dc1a295bd9884e4f8cb199311

Also requested in #54

[2018-11-30 20:43] thijsc opened #64 "Message delivery callback"
Provide a message delivery callback to the producer.

https://docs.confluent.io/3.2.1/clients/librdkafka/rdkafka_8h.html#ac1c9946aee26e10de2661fcf2242ea8a

Also requested in #54

[2018-12-01 14:53] jvanbaarsen commented on #41
@thijsc I had the same problem today. The fix from @adamof solved it for me.

[2018-12-05 10:41] koenrh commented on #44
@thijsc Yes. I'll submit a PR this week.

[2018-12-06 19:49] #64 closed

[2018-12-06 20:00] thijsc commented on #52
Closing for now, feel free to reopen!

[2018-12-06 20:00] #52 closed

[2018-12-06 20:00] thijsc commented on #58
@mensfeld any news?

[2018-12-13 08:59] mensfeld commented on #58
@thijsc I checked the sources of librdkafka and coudln't find anything like that as well in the api. I'm not as fluent with C/CPP as I would love to but it seems that the tcp connection is established with the first message. I guess we can close it as it won't happen (unless you guys know how to add it to librdkafka).

[2019-01-03 13:46] mjkillough opened #66 "New release with changes in master"
Would it be possible to make a new release from master? I'm particularly interested in the changes from #31, which haven't been released yet.

We're currently depending on `rdkafka-ruby` using a git dependency in our Gem file, but would prefer to fetch it from RubyGems as we start to use it in more services.

Thanks again for doing all the work to maintain this! It's a huge help. :-)

[2019-01-04 16:13] surendrakashyap opened #67 "Unable to install rdkafka-0.3.4 - error during native extension"
I am unable to install gem rdkafka-0.3.4  --local, failure comes when native extension is being built. The process attempts to download file from github. The host where I am trying to install this can pull file down from internet during install. Is there any work-around where I can provide file needed locally?

[code]

[2019-01-07 12:45] thijsc commented on #66
Yes, will make on later today.

[2019-01-07 12:45] thijsc commented on #67
The installation process downloads a release from the Github CDN. Looks like this wasn't available for you at that time. Does it always fail?

[2019-01-07 12:46] thijsc commented on #58
Closing, you could open an issue with librdkafka.

[2019-01-07 12:46] #58 closed

[2019-01-12 20:15] thijsc commented on #67
Closing, feel free to reopen if you have more information.

[2019-01-12 20:15] #67 closed

[2019-01-12 20:15] thijsc commented on #66
The latest changes were released in 0.4.2.

[2019-01-12 20:15] #66 closed

[2019-01-14 16:25] mjkillough commented on #66
Thanks a lot!

[2019-03-19 09:06] #63 closed

[2019-03-20 08:43] thijsc commented on #57
@Paxa asked a question related to this issue:

I just looked into the docs and there is no poll in batches in the new consumer API. I think this is the case because there is no technical need for it. The high-level consumer already batches under the hood. You're getting messages delivered one by one, but they're being popped of internal batches.

I do think there is a use case we have to think abo

[2019-03-20 08:47] #55 closed

[2019-03-28 09:32] Paxa commented on #24
[code]

[2019-03-28 20:17] thijsc commented on #57
@JHK Do you think using store offset would support your use case?

[2019-03-29 14:14] JHK commented on #57
As far as I understood the intention of `rdkafka-ruby` is is meant to be a thin wrapper around `librdkafa`. If there is no non-legacy API to implement this, calling `store_offset` explicitly would solve this problem. Then I would not need to commit and wait for an ack after every batch, but update the offset and wait for the next auto-commit to happen asynchronously.

However, I think that there i

[2019-04-01 10:04] thijsc commented on #57
Good to hear!

[2019-04-01 10:04] #57 closed

[2019-04-01 10:10] thijsc commented on #57
I think the library actually gives you control already. You can disable both the automatic offset store and auto commit. This way you have exact control over when what is committed. I think this is the preferred approach using the high level consumer.

I used this approach in a demo project here: https://github.com/appsignal/kafka-talk-demo/blob/master/lib/tasks/processor.rake#L105

[2019-04-01 11:47] JHK commented on #57
I once read that the offset to be committed gets updated on the next `rd_kafka_poll` call. I currently don't find the exact behavior what happens to the offset on a poll, but I assume it to be updated on a call to `rd_kafka_poll` to match the one from the previously read message.

This behavior gives you *at least once* semantics with `auto.commit` and `enable.auto.offset.store` enabled, i.e. your

[2019-04-26 04:52] dypublic opened #76 "How to enable “gzip” function at AMI Linux2 os?"
I try to use fluentd in AMI Linux2 os.
And I need use kafka output plugin for push messages to kafka.
The "gzip" should be good for performance for pushing.
So I use gem to install the rdkaka-ruby.
But the rdkafka don't enable gzip at install/compile stage.
So when I add "gzip" option into fluentd config, it will say "wrong value for compress.type".
How could I enable the gzip feature at "gem inst

[2019-06-18 09:21] thijsc commented on #76
It sounds like rdkafka wasn't compiled with zlib support, I am not sure why. Maybe an extra configure option is needed here: https://github.com/appsignal/rdkafka-ruby/blob/master/ext/Rakefile#L35

[2019-06-25 09:32] #76 closed

[2019-06-25 09:32] thijsc commented on #76
Feel free to reopen if you find out anything.

[2019-07-29 09:49] thijsc commented on #44
The hashes are now added to librdkafka: https://github.com/edenhill/librdkafka/releases/tag/v1.1.0

[2019-07-29 09:49] #44 closed

[2019-08-06 21:02] peterdenham opened #79 "dyld: Symbol not found: _timespec_get"
I'm getting the following error when trying to open a rails console in a project with rdkafka 0.6.0 and macOS 10.14.6 .

Could it be related to a recent macOS update from 10.14.4/10.14.5?

[code]

[2019-08-07 14:47] peterdenham commented on #79
Issue was due to having clang version 11 beta installed locally with xcode version 10.3 . Resolved now.

[2019-08-07 14:47] #79 closed

[2019-08-07 16:08] mensfeld opened #80 "Useless pending delivery waiting upon unsendable message"
Given a setup:

- `message.send.max.retries` set to `2`
- `bootstrap.servers` set to `invalid:9002`

What happens upon producing and waiting is:

[code]

After that, `rdkafka` will not retry to send again, while `rdkafka-ruby` will wait (here: https://github.com/appsignal/rdkafka-ruby/blob/master/lib/rdkafka/producer/delivery_handle.rb#L49) until the default timeout of 60 seconds.

Even if the `in

[2019-08-08 13:08] mensfeld commented on #80
The errors are not due to the delivery failure upon dns resolve but come from the connection failure although I still believe the case is valid.

[2019-08-08 13:11] mensfeld commented on #54
@thijsc any reason for the `statistics_callback` to be global? What if I would want to have different callback handling in various consumers/producers?

[2019-08-09 14:46] mensfeld opened #82 "Non global logger and statistics callback"
Majority of the settings of this lib are per instance based.

Is there any reason why `logger` and `statistics_callback` aren't? It is really problematic for systems where you may have several instances of rdkafka running for producing and consuming with different policies around instrumentation.

[2019-08-15 20:27] thijsc commented on #82
Looking at the docs it does seem like both are scoped on the client. So it should be possible to move them to a config's instance. I have some other issues with higher priority, will take a look at this after those. Also open to a pull of course.

[2019-08-15 20:32] thijsc commented on #80
librdafka does not tell us directly if this is the case. I believe the way to handle this is using https://docs.confluent.io/2.0.0/clients/librdkafka/rdkafka_8h.html#ace721ef3b7c22d0c111ec747ef039a90.

Some errors are fatal, and you could get a callback for them where you could fail some messages. That's not wrapped in this library yet, the only way to see it is checking the error logs. We have mo

[2019-08-15 20:38] thijsc commented on #12
I'm still not sure how to make this better than it is, so decided to add a note in 45055f1b5c84480223d1785c4a306ff00015075b and close this. If anyone has good ideas about this one feel free to reopen.

[2019-08-15 20:38] #12 closed

[2019-08-15 20:46] thijsc commented on #54
#82 was opened for this question.

[2019-08-15 21:06] thijsc commented on #54
I'm trying to get this done, but not making a lot of progress because I don't have a clear picture in my mind what this looks like. I can see how events for assignment changes and so forth can work.

I can also see how emitting an event for producing a message could work. I don't see how emitting an event for a delivered message would be useful. AS notifications assumes that things happen in sync,

[2019-08-17 08:56] #19 closed

[2019-08-19 14:18] JHK commented on #54
I cannot say what exactly needs to be in such a message, but rather have a look at what racecar already provides:
 - Producing a message: https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/producer.rb#L220-L228
 - Message delivery: https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/producer.rb#L246-L257
 - Error on a Topic: https://github.com/zendesk/ruby-kafka/blob/master/lib/ka

[2019-08-23 09:10] dasch commented on #54
We have a pretty clear need to measure then number of successful / failed message deliveries per producer process.

[2019-08-23 11:05] mensfeld commented on #54
@dasch but you can do that yourself now: https://github.com/karafka/waterdrop/pull/106/files#diff-d179c7dee2064c1622d2d3da2b03c44dR32

[2019-09-05 19:54] MissingHandle opened #87 "Building Native Extensions Fails on Alpine 3.8"
Terminal Output:

[code]
[gem_make.out.txt](https://github.com/appsignal/rdkafka-ruby/files/3580991/gem_make.out.txt)
[compile.log.txt](https://github.com/appsignal/rdkafka-ruby/files/3581041/compile.log.txt)

[2019-09-05 19:57] MissingHandle commented on #87
I figure this has something to do with dynamic vs static linking when compiling, but have no idea what exactly to statically link / what commands to run to accomplish that.

Can share the top of the docker file:

[code]

[2019-09-05 21:23] MissingHandle commented on #87
Good news for y'all bad for me.  This is not an appsignal issue but a local issue I have.  attempt at a minimal docker file on which gem install succeeds:

[code]

sincerely, denverCoder10

[2019-09-05 21:23] #87 closed

[2019-09-18 06:53] thijsc commented on #54
Thanks all for the input! I'm going to work on it.

[2019-09-18 11:49] thijsc opened #89 "Provide way to use a different method of partitioning"
Other Ruby kafka clients have a feature where you can provide a separate key that's used just for partitioning. There is a partitioning callback in the C api that could be used to achieve a similar effect.

[2019-10-09 09:05] Paxa opened #91 "Bump rake version"
Would be nice to make it work with rake 13

[2019-10-11 11:05] mensfeld opened #92 "Delivery callback called with an invalid error when producing without ACL permissions"
Version: current master

Reproduction:

- clone https://github.com/paneq/kafka_docker_sasl_plain
- run `docker-compose -f test.yml up`
- build rdkafka with sasl support
- execute:

[code]

We never get a proper failure (something like authorization failed). Instead, we /librdkafka wait forever (till the `message.timeout.ms`).

This behavior can be really confusing as one would expect to get a clea

[2019-10-24 09:44] agis commented on #19
@thijsc I'm trying producing from a forked process, but apparently nothing is written to the socket (i.e. nothing is produced).

[code]

The script blocks at the call to `wait`, until the default timeout (60sec.) is reached:

[code]

The forked process writes nothing to the socket (verified with tcpdump) and the consumer never sees any messages.

Is my script supposed to work or am I missing somet

[2019-10-24 10:01] thijsc commented on #19
This indeed does not work, rdkafka does not survive a fork. It will work if you move `producer = Rdkafka::Config.new(config).producer` into the `fork`.

Not sure exactly sure still how to make this clear and user friendly, any thoughts on that?

[2019-10-24 10:05] agis commented on #19
So there is no way to reuse a producer object across multiple forks?

https://github.com/appsignal/rdkafka-ruby/commit/9882ce419ad421e241120b0d3314d0d6cbc03c35 gave me the impression that it should work (isn't that spec doing the same thing essentially?) If it doesn't, then that part of the README shouldn't be removed I guess(?)

Creating the producer after the fork defeats the purpose of what I'm

[2019-10-24 10:16] agis commented on #19
After reading @edenhill's comment on https://github.com/edenhill/librdkafka/blob/master/tests/0079-fork.c#L37-L42, it's apparent that this use-case is not possible in librdkafka. Perhaps we should bring back the relevant README section informing that the client must be created after forking?

[2019-10-24 10:16] thijsc commented on #19
That's impossible I'm afraid. When you fork you create a separate Unix process. That process does not share state with the original one. Even if the producer survived the fork it would still be a copy in a separate process that's not being reused. I actually wrote a [blog post](https://blog.appsignal.com/2017/03/07/ruby-magic-concurrency-processes.html) about this a few years ago that might be goo

[2019-11-03 09:19] nijikon opened #95 "Abort trap: 6 Assertion failed: (r == 0), function rwlock_wrlock, file tinycthread_extra.c"
I run into this issue when running specs locally. I checked on `1.2.2-RC1`, `1.2.0` and `1.1.0`. Any ideas?

[code]

[code]

[2019-11-03 12:25] nijikon commented on #95
Refs https://github.com/edenhill/librdkafka/issues/1000

[2019-11-03 12:51] nijikon commented on #95
Refs https://github.com/appsignal/rdkafka-ruby/pull/94#issuecomment-549039807

[2019-11-03 17:29] gearnode opened #96 "Got a log error when close consumer"
## Environment
**OS type**: `MacOS`
**OS version:** `10.14.5`
**rdkafka version:** `0.7.0`
**Kafka docker image:** `confluentinc/cp-kafka:5.0.0`
**Zookeeper docker image:** `zookeeper:3.5`
**Cluster topology:** `1 zookeeper, 1 broker`

## Current behavior
When I close the consumer I got this error:
[code]

## Expected behavior
Don't have error log when I close the consumer

## Reproduction
[code]

[2019-11-04 07:07] nijikon commented on #95
This is the spec that generates the issue. https://github.com/appsignal/rdkafka-ruby/blob/master/spec/rdkafka/consumer_spec.rb#L52-L93

[2019-11-08 07:44] rgo commented on #95
Executing all specs in consumer_spec, I got:

[code]

I added traces to locate the _assertion fail_ and went till: https://github.com/appsignal/rdkafka-ruby/blob/master/spec/rdkafka/consumer_spec.rb#L149

Narrowing the search a little bit more I arrived to: consumer#poll https://github.com/appsignal/rdkafka-ruby/blob/master/lib/rdkafka/consumer.rb#L346

I'll take a deep look into it later.

[2019-11-08 13:57] rgo commented on #96
My guess has to be with poll timeout, if you set it to 50ms instead 250ms, it doesn't fail.

Output with 250ms:

[code]

Debug output with 50ms:

[code]

As you can see, TERMINATE op is received different state (up for 50ms and query-coord for 250ms) depending on timeout value.

I don't know what it means but it could be the culprit.

[2019-11-11 09:28] rgo commented on #95
Sadly, I'm stuck in consumer#poll. No (good) news :(

[2019-11-12 08:30] thijsc commented on #95
I think there are some issues on the librdkafka side, but only on Mac. I've been pretty busy with other things, planning to get the dev and testing environment back to a good state again now.

[2019-11-12 21:06] #91 closed

[2019-11-13 09:41] rgo commented on #95
At night, I'll try with [librdkafka 1.2.2](https://github.com/edenhill/librdkafka/releases/tag/v1.2.2) that was released yesterday.
I don't have big hopes because we were already using 1.2.2-rc1

[2019-11-13 10:04] thijsc commented on #95
There's an upgrade to 1.2.2 in #98

[2019-11-13 15:53] KTSCode opened #99 "Consume In Batches API"
I know that it's currently possible to consume in batches [poll in batches issue](https://github.com/appsignal/rdkafka-ruby/issues/57); however, I believe the API for this could be significantly improved. One of the main draws of this library was the simplicity with which a Kafka consumer could be implemented. Consuming messages individually has become too slow for my current use case. I began the

[2019-11-13 18:46] thijsc commented on #99
Thanks for your feedback on this!

I think it's important to understand that the high-level consumer API that replaces the now legacy simple consumer API does not do batching in the same way. The high-level consumer always works in batches, it just does not expose the workings of that in its public API. Adding some kind of batching layer cannot improve performance, it will even be a little slower

[2019-11-13 20:35] KTSCode commented on #99
Thank you for the quick response @thijsc!

I only have my personal experience to go off of, but I would like to make rdkafka-ruby the default ruby Kafka library at the company I work for. I would feel much better telling other teams to use this tool if I knew there was a simple batch consumption API that could be quickly and easily implemented.

Regarding performance, I'm trying to increase the pe

[2019-11-13 20:41] KTSCode commented on #99
I've put up a [PR](https://github.com/appsignal/rdkafka-ruby/pull/100) with a naive implementation of the functionality that I'm asking for though confident it could be done in a much better way.

[2019-11-14 08:49] thijsc commented on #99
Thanks for explaining your use case.

This is actually exactly why I'm very hesitant to add extra layers and helpers to this gem. The API is in my opinion already deep and simple. It does require thinking about the problem in a different way. Consumer implements `Enumerable`, so Ruby actually lets you do a lot of cool stuff with it out of the box.

We do a lot of batching for database writes and s

[2019-11-14 09:00] thijsc commented on #96
This might be fixed by #97

[2019-11-14 17:59] KTSCode commented on #99
Thank you for that example, that helps me a lot in understanding the best approach for my use case. I still don't know that I fully understand the difference between `commit` and `store_offset` and why it is necessary to have both. I will dig into the documentation to try and answer that.

I think many users myself included would benefit greatly by having a defacto way to pull batches of messages

[2019-11-14 17:59] #99 closed

[2019-11-14 19:06] thijsc commented on #99
This could be clearer in the docs, added some more context: b0da4280ae2dc81075a80a63562605b0c1c3635c.

Further doc improvements are very welcome indeed!

[2019-11-28 04:00] pascalmail opened #101 "Documentation not updated"
Hello, when I check the documentation of this gem at https://www.rubydoc.info/github/appsignal/rdkafka-ruby/Rdkafka, why is it still showing version 0.4.1 even though the one in master is 0.7.0 (https://github.com/appsignal/rdkafka-ruby/blob/master/lib/rdkafka/version.rb#L2)?

[2019-12-04 11:54] dasch commented on #89
Has there been any updates on this? As an alternative, is there an API for getting the partition count of a topic? That could be used to replicate the `partition_key` functionality in Racecar.

[2019-12-04 12:04] thijsc commented on #89
I'm still working on getting the test suite stable in #98, as soon as that's fixed I plan to pick up this one. Not sure if there's a way to reliably get the partition count.

[2019-12-09 20:36] thijsc commented on #95
Are you still getting this when running #98?

[2020-01-10 01:18] liyongxin opened #105 "About performance"
I recently did some tests for performance, but the results were very unsatisfactory.

 My config file is as follows:
                        "batch.num.messages": 1000000,
                        "queue.buffering.max.ms": 15000,
                        "request.required.acks": 1,
                        "queue.buffering.max.messages":10000000,
                        "queue.buffering.max.kbytes":

[2020-01-10 01:24] liyongxin commented on #105
![image](https://user-images.githubusercontent.com/7601142/72117955-7d5d6e80-338a-11ea-9bf1-58dc47d64737.png)
This is the log of librdkafka when generating the local message queue. About 10,000 pieces of data are generated every second. My configuration "queue.buffering.max.ms": 15000, so about 144544 pieces of data in 15 seconds. , So I want to know why the data processing takes so long, and the

[2020-01-10 01:27] liyongxin commented on #105
@gaffneyc @thijsc @nurse @MadBomber

[2020-01-10 08:01] thijsc commented on #105
This looks like it's part of the internal operations of librdkafka, so think this question should be asked over in https://github.com/edenhill/librdkafka

Do you think the Ruby wrapper part has influence on the performance issue you see?

[2020-02-18 16:56] Adithya-copart commented on #96
Related to https://github.com/confluentinc/confluent-kafka-dotnet/issues/1129#issuecomment-561516728 as `config["enable.auto.commit"]` is set to `false`.

[2020-02-18 20:52] Adithya-copart commented on #95
I remember seeing this error while working on https://github.com/appsignal/rdkafka-ruby/pull/108 but don't recall the reason exactly.

[2020-02-26 12:10] dasch commented on #89
Has there been an update on the partition count problem?

[2020-02-27 08:05] #105 closed

[2020-02-27 08:08] thijsc commented on #96
I think this is fixed after the latest series of improvements that have been merged to master. Closing this, but feel free to reopen if you see this happen again.

[2020-02-27 08:08] #96 closed

[2020-02-27 08:10] thijsc commented on #95
Are you still seeing this happen on master? A number of related fixes have been merged.

[2020-02-27 08:16] thijsc commented on #92
Has this been fixed by #86?

We don't use ACLs so don't have a test setup handy for it myself.

[2020-02-27 08:35] thijsc commented on #89
This hasn't made it to the top of my list. We finally fixed the build issues, so we can move forward with adding some new features now.

[2020-02-27 12:25] dasch commented on #89
Thanks! This is currently blocking us from upgrading many of our consumers to Racecar v2 (which uses rdkafka-ruby) because messages would not be assigned to the same partitions that they used to, and we're using compaction.

[2020-02-27 17:16] Adithya-copart commented on #89
@thijsc I took a look at the available options last night. Here is what I found:

1. `librdkafka` internal metadata cache mentioned in the [documentation](https://github.com/edenhill/librdkafka/blob/master/INTRODUCTION.md#metadata). I don't think this is exposed.
2. The [metadata API](https://github.com/edenhill/librdkafka/blob/c8fd8e682bb79e756920176b34051f18e7c8c006/src/rdkafka.h#L3870-L4052) ex

[2020-02-28 16:21] Adithya-copart commented on #89
I'm using [this example](https://github.com/edenhill/librdkafka/blob/c8fd8e682bb79e756920176b34051f18e7c8c006/examples/rdkafka_example.c#L789-L864) to see if I can come up with working code.

I'm stuck at passing the right nested Metadata `FFI::Struct`. Will create a draft PR in the next two or three days.

[2020-03-01 09:00] thijsc commented on #89
The previously used Kafka gem has a feature where you can provide a separate `key` and `partition_key`. `key` is used as the actual key, while `partition_key` is only used to determine the partition and is not actually added to the message.

I think we can replicate this behaviour using https://docs.confluent.io/current/clients/librdkafka/rdkafka_8h.html#abfc790b5e36c56ea6d79fdc32c57becf

This let

[2020-03-01 13:32] dasch commented on #89
Either replicating the partition key semantics or providing the means for clients to do so themselves, yes. I think the latter is fine if this library does not want to have an opinionated partitioning layer. But that would likely require a way to query the partition count for a topic - I’m not sure if the callback approach suffices without the overhead of an “envelope” object.

[2020-03-01 17:05] Adithya-copart commented on #89
@thijsc I did not look into the partitioner callback earlier. I went with the logic that `rdkafka-ruby` supports `key` and `partition` in `Producer#produce`, so  clients can pass the appropriate `partition` based on their partitioning logic. The partition count necessary for this computation can use `Producer#partitions_count`.

Let me know your thoughts on which approach you think suits better.

[2020-03-01 18:00] Adithya-copart commented on #89
It looks like `librdkafka` guarantees that messages with the same key are committed to the same partition. I will test this and verify.

The use-cases to be addressed in the fix are:
1. `partition_key` exists but not a message `key`.
2. [Precedence](https://github.com/zendesk/ruby-kafka/blob/6bd4121f15ef3b8f1ed05783ed44971b647ea3dc/lib/kafka/partitioner.rb#L26) is to the `partition_key` when a `ke

[2020-03-01 19:29] dasch commented on #89
My problem is that I need to provide a backwards compatible partition assignment algorithm in order to avoid really nasty problems when people upgrade from ruby-kafka to rdkafka-ruby. So it’s not enough that the functionality is there, it either needs to match that of ruby-kafka, or there needs to be a way to specify the exact partitioning scheme (with access to the partition count).

[2020-03-02 08:29] thijsc commented on #89
That's the idea, I don't think we should offer a callback to the user of the library. We can implement it ourselves to look at `partition_key` if it's available.

[2020-03-02 16:14] Adithya-copart commented on #89
I noticed that the partitioning logic in [ruby-kafka ](https://github.com/zendesk/ruby-kafka/blob/6bd4121f15ef3b8f1ed05783ed44971b647ea3dc/lib/kafka/partitioner.rb#L31) is similar to [librdkafka](https://github.com/edenhill/librdkafka/blob/c8fd8e682bb79e756920176b34051f18e7c8c006/src/rdkafka_msg.c#L837). This logic could be from the Java client.

However, I'll make sure that backward-compatibility

[2020-03-09 06:12] Adithya-copart commented on #89
@thijsc Opened  https://github.com/appsignal/rdkafka-ruby/pull/110 with the changes.

It exposes the partition count and accepts a partition key along with the existing parameters.

[2020-03-10 11:44] dasch commented on #89
Awesome!

[2020-03-30 12:50] yosiat opened #111 "Release new version"
Hi!

Is it possible to release a new version? The last version was released on September according to RubyGems.

We are currently using the master version (because of https://github.com/appsignal/rdkafka-ruby/pull/86)

[2020-04-14 11:48] fritzblue opened #112 "Consumer defaults encourage bad design"
While the producer defaults and examples correctly encourage batching out of the gate, the current consumer defaults (and all readily accessible examples) encourage a non-batch design. These defaults and examples should be updated to support the 99% use case, which is batching.

Encouraging handling messages one at a time, _even if the polling piece is batched under the hood_, in turn encourages s

[2020-04-15 20:54] thijsc commented on #111
I'll get a new version out shortly! Will update to 1.3.0 and bump the version.

[2020-04-15 21:03] thijsc commented on #112
I completely agree with you that batching is almost always preferred when consuming too.

We had some discussion about this in #99. I wrote up a batched example in this comment: https://github.com/appsignal/rdkafka-ruby/issues/99#issuecomment-553787214. I think it makes sense to put this example in the readme.

I still feel that the API and usage of enumerable, while not encouraging batching, do p

[2020-04-23 12:07] fritzblue commented on #112
Fortunately there's quite a bit of "prior art" on this subject we can refer to. Here is an example from the [official Java consumer](https://kafka.apache.org/25/javadoc/index.html?org/apache/kafka/clients/consumer/KafkaConsumer.html):

[code]

Even the simple example above is lower level than the API one could imagine for your library though. Here's another example from the [ruby-kafka gem](https:

[2020-04-23 14:49] mensfeld commented on #15
Even with the fix from the commit I still experienced this issue when running several producers in a spec and not closing them fast enough after the specs were done. I fixed that by defining finalizer hooks to close the client before GC kicks in:

[code]

ref: https://github.com/karafka/waterdrop/pull/135/files

[2020-04-23 14:56] thijsc commented on #112
It looks to me like the example you posted is almost the same as the one here: https://github.com/appsignal/rdkafka-ruby/issues/99#issuecomment-553787214

This works by leveraging enumerable, so really this API is already present on the consumer.  Do you think there is a significant difference?

[2020-04-23 14:57] thijsc commented on #15
It seems like ffi's hooks do not always trigger exactly as I expect. We should maybe switch to this approach altogether.

[2020-04-23 15:06] mensfeld commented on #15
I mean for a regular producer that's probably ok as there's usually more than enough time to finish the work before GC kicks in (especially if you close the producer). Rails, Ruby process doing other stuff, Sidekiq etc, but I can imagine this ffi hook not kicking in a problem for thin periodically executable jobs that end with ruby exiting so it might be worth.

[2020-04-27 13:25] fritzblue commented on #112
`each_slice` against your enumerable does not have the same behavior as `each_batch` in the library above. To get similar behavior, one would have to drop down to `poll` and write their own logic, similar to the Java example above. Users of this library would be encouraged toward better design by making batching the happy path.

[2020-04-28 08:52] thijsc commented on #112
I struggle to see what the big difference is between https://github.com/appsignal/rdkafka-ruby/issues/99#issuecomment-553787214 and your example. I see that `each_batch` in your example groups messages by partition. Do you feel that's the essential difference? Or something else?

[2020-04-30 14:45] Adithya-copart commented on #15
@thijsc I think https://github.com/appsignal/rdkafka-ruby/pull/108/commits/f9732b6f0e78604535b30e1488c47dd4ffcac913 is responsible for introducing this in a way.

The handle is no longer a `AutoPointer` object that comes with a finalizer by default. Other changes in https://github.com/appsignal/rdkafka-ruby/pull/108/commits/f9732b6f0e78604535b30e1488c47dd4ffcac913 made it safe to invoke `producer#

[2020-04-30 16:06] mensfeld commented on #15
@Adithya-copart you mean that after this fix all is good right?

[2020-04-30 16:22] Adithya-copart commented on #15
Yeah. The fix looks good to me.

Any producer that is not closed will be closed by the finalizer after GC. If it is already closed by the user, the finalizer will do nothing.

[2020-05-01 06:59] thijsc commented on #111
`0.8.0.beta.1` is out now, could you give it a spin?

[2020-05-01 07:16] thijsc commented on #89
Added in #110.

[2020-05-01 07:16] #89 closed

[2020-05-02 11:03] yosiat commented on #111
@thijsc I am running our CI with this version will update once it's finish

[2020-05-02 13:47] yosiat commented on #111
@thijsc our CI passed with this version, looks like we are good to go

[2020-05-21 13:16] gremerritt opened #119 "Producer Transaction Support"
Are there plans to add support for producer transactions to this library now that the functionality has landed in [librdkafka v1.4.0](https://github.com/edenhill/librdkafka/issues/1308)?

[2020-05-30 01:35] mgrosso commented on #112
I know at least one user (cough) of the library who will want to do batching, but feel the need to limit latency. Many producers are bursty and if 1001 items are sent, the `.each_slice(1000)` example will create undesired behavior for the latency of the last item.

I totally get the reluctance you expressed in #99 to add your own polish on the librdkafka api. It might seem like a bit much to roll

[2020-05-30 07:36] thijsc commented on #112
I'm happy to consider more complex behavior if there are important use cases that would be covered here. It's not clear to me yet if there are.

What use case(s) are you making possible with this helper?

[2020-05-31 10:30] thijsc commented on #112
I just read your message a bit better and did some research.

The main missing feature you see is being able to batch with a time limit right? So either get a maximum number of messages or the ones that were received within the time limit?

Using `Enumerable` one could  implement timed batching roughly like this:

[code]

To give another example, something like this would enable partition grouping

[2020-06-01 20:15] mgrosso commented on #112
I like your design principle of leaning on `Enumerable` as much as possible. I'll try to create a PR that implements the `each_batch` above, perhaps renamed `each_slice_with_timeout`? and I'll try to respect that design principle by avoiding any partition group since that seems reasonable to do with Enumerable.

The main thing that I don't expect to show up in ruby's `Enumerable` ever is any sort

[2020-06-02 19:03] thijsc commented on #112
Looking forward to your pull. I think this hybrid of waiting for a maximum number of messages with a time limit is a useful addition. I think `each_batch` is a pretty good name actually.

[2020-06-02 19:04] thijsc commented on #111
Ok, I'm releasing it!

[2020-06-02 19:05] #111 closed

[2020-06-02 19:06] thijsc commented on #101
Sorry, this keeps happening and I don't know why. Asking Rubydoc to clear their cache.

[2020-06-02 19:09] thijsc commented on #119
We don't use that feature at the moment, so don't have an immediate need for it myself. If there is a lof of interest I'd consider working on it, but some other open issues would be first in line.

Is this something you'd be interested in picking up yourself?

[2020-06-02 20:33] gremerritt commented on #119
We also don't have an immediate need for it (we have another solution for transactional guarantees in place already), but I have a hunch this could help us simply things considerably.

Not sure how much bandwidth I have at the moment, but in general yes I'd be open to working on this.

[2020-06-08 02:24] archfish opened #121 "admin api support"
Is there a plan to support admin api?
librdkafka has the function [rdkafka_admin.h](https://github.com/edenhill/librdkafka/blob/bd74dc31ba6edf431749b4ad5a00aa4fc78882fc/src/rdkafka_admin.h)

[2020-07-05 05:27] geoff2k commented on #121
@archfish are there particular parts of the Admin API beyond creating and deleting topics (#123) that you like to see?

[2020-07-06 01:46] archfish commented on #121
Creating and deleting topics has satisfied my needs. Great job!

[2020-07-06 01:46] #121 closed

[2020-07-13 00:02] Adithya-copart opened #129 "Rollback the offset if an error is raised during processing"
In the following code, the next offset is fetched even though an error is raised during processing of the previous message.

Should we change this behavior and rescue any exceptions to mark it as unprocessed even with auto commits or leave this to the users?

[code]

[2020-07-26 07:07] Adithya-copart opened #131 "The address is not registered in the delivery handle registry and some delivery callbacks are ignored."
https://github.com/appsignal/rdkafka-ruby/blob/16a4497f59f4d369ebfb4ad0784161400fd96424/lib/rdkafka/bindings.rb#L253-L263

Using a mutex solves the problem but there is no concurrent access to the registry that I could find. Needs investigation.

[2020-07-26 07:10] Adithya-copart commented on #131
**Reproduction Steps:**

1. Add a else statement to track the callbacks ignored silently.
2. Produce a large number of messages from the same producer.

[code]

[2020-08-13 07:20] thijsc commented on #129
Good point, but this is the way rdkafka works. If a user wants control they should store offset themselves. I will think a bit on whether we can improve on this, it's ideal.

[2020-09-27 11:00] #101 closed

[2020-12-03 11:17] jameswalkerdine opened #140 "Publishing fixed code"
Hello!

We've just hit a problem with the code, that has been fixed ([here](https://github.com/appsignal/rdkafka-ruby/commit/16a4497f59f4d369ebfb4ad0784161400fd96424#diff-74e6cbec6778f9341481738cbc590cdebd82852eb8b5eef48ead50f0984f74d7L19)), but the change is not published and that prevents us from progressing to use the library as-is.

The last release (due to Rubygems) was made on 2nd June, but

[2020-12-07 21:12] thijsc commented on #140
I've just pushed out `0.8.1`. Sorry for the delay! It took me a long time to move over to a different CI setup.

[2020-12-07 21:12] #140 closed

[2020-12-23 00:01] geoff2k opened #147 "CI builds are not running for some pull requests"
#141 introduced Semaphore CI, but of the currently open pull requests, only one (#142) appears to have triggered a check (build) in the new CI infrastructure:

https://appsignal.semaphoreci.com/workflows/5ab5270e-7077-4580-b337-fe1cf750091f

@thijsc is it possible that the new CI will only authorize builds that originate from users within the appsignal organization?

[2020-12-29 02:55] baosenle opened #149 "Fluentd buffer queue becomes full when unknown topic error occurred"
1. Scenes
   Fluentd use rdkafka plugin to send log records to kafka

2. Configs
   allow.auto.create.topics : false

3. Result
   When unknown topic error occurred, plugins continue to fail writing buffer chunks.
   Cause the normal block behind the queue to be blocked

4. My suggestions
   Can you encapsulate such a common error (unknown topic error), give the user a configuration item, when suc

[2020-12-29 07:34] baosenle commented on #149
Or can we use the default topic key to process uknown topic error ?

`
rescue Kafka::UnknownTopicOrPartition
        if @use_default_for_unknown_topic && topic != @default_topic
          producer.shutdown if producer
          log.warn "'#{topic}' topic not found. Retry with '#{default_topic}' topic"
          topic = @default_topic
          retry
        end
        raise
      end
`

[2021-01-05 21:09] lindgrenj6 opened #150 "Segfault while consuming messages"
Hey all,
Getting a segfault during consumer message processing. I haven't troubleshot C-extensions before, but if you need more logs than this I can provide it.

The behavior is consistent with both 0.8.0 and 0.8.1, and I've tried install both versions 1.5.0 and 1.5.3 of librdkafka.

It is a recent thing as well, all was working fine until today.

[code]

Thank you for looking in advance, really a

[2021-01-05 21:26] geoff2k commented on #150
Would you mind posting a trace from the 0.8.1 gem as well?

[2021-01-06 06:28] thijsc commented on #150
Is there some code you could share that triggers this?

[2021-01-06 12:19] slemrmartin commented on #150
Hi, I'm sending logs:
- [log.txt](https://github.com/appsignal/rdkafka-ruby/files/5775615/log.txt)

and links to backtrace:
- [/usr/share/gems/gems/manageiq-messaging-1.0.2/lib/manageiq/messaging/kafka/client.rb:61](https://github.com/ManageIQ/manageiq-messaging/blob/v1.0.2/lib/manageiq/messaging/kafka/client.rb#L61)
- [/usr/share/gems/gems/topological_inventory-providers-common-2.1.4/lib/topologi

[2021-01-06 15:15] slemrmartin commented on #150
So it seems we found the cause of a problem: Inside of processing the kafka response we created and closed new publisher in the same thread and the close method probably causes segfault.

[2021-01-06 22:25] lindgrenj6 commented on #150
As my colleague @slemrmartin said, it looks like we had a double-close somewhere in our application due to conflicting usage between this one worker and the other's.

Going to close this as it makes sense to see a double-destroy causing a segfault.

Thanks so much for taking the time to look @geoff2k and @thijsc.

[2021-01-06 22:25] #150 closed

[2021-02-28 12:41] thijsc commented on #147
I tweaked the settings in the meantime.

[2021-02-28 12:41] #147 closed

[2021-02-28 12:41] thijsc commented on #92
Closing, feel free to reopen if this is still relevant.

[2021-02-28 12:41] #92 closed

[2021-02-28 12:42] thijsc commented on #95
This has probably been fixed, possibly also by #97. Feel free to reopen though.

[2021-02-28 12:42] #95 closed

[2021-02-28 12:42] #129 closed

[2021-02-28 12:45] thijsc commented on #149
rdkafka should raise an error in this case, you can catch that. Maybe this should be fixed in fluentd instead?

[2021-02-28 12:45] #149 closed

[2021-02-28 20:15] thijsc commented on #112
Closed by merging #124

[2021-02-28 20:15] #112 closed

[2021-02-28 20:16] thijsc commented on #119
Closing this, if anybody needs this functionality please do reopen :-)

[2021-02-28 20:16] #119 closed

[2021-02-28 20:17] thijsc commented on #82
Closing this one since we don't currently need this. If anybody needs this do reopen.

[2021-02-28 20:30] mensfeld commented on #82
I do not have a way to reopen :(

[2021-03-01 19:38] thijsc commented on #82
Are you interested in working on this?

[2021-03-01 19:49] mensfeld commented on #82
@thijsc yes. Just leave it open for 2-3 more weeks. I'm finishing Karafka 2.0 and then I will have some time to adjust things on rdkafka side :)

[2021-03-02 08:49] thijsc commented on #80
I'm planning to work on adding some kind of global error hook soon. @mensfeld have you worked on this already?

[2021-03-04 14:05] mensfeld commented on #80
@thijsc no. I plan to once I have stable test suit for Karafka where I could add this case. I am getting closer though. 2.0 is already on Github and started working on the specs today.

[2021-03-14 19:41] ojab opened #153 "gem installation shouldn't require network access"
We're building docker images with something like
[code]
And right now it fails with
[code]
due to attempt to download librdkafka sources.

Would be nice if installation wouldn't require internet connection, since it's not uncommon situation to build stuff without network access (docker above, private gemstash instance, etcetc).

(and would be nice to be able to build it with system librdkafka if v

[2021-03-23 11:14] mensfeld opened #154 "The current finalizer definition will not work and produces a warning"
When running under 3.0 I get:

[code]

https://github.com/appsignal/rdkafka-ruby/blob/bc6b6515ae1a8d89919509d95c5b822692604fab/lib/rdkafka/producer.rb#L16

There's an old but valid description of this issue here: https://www.mikeperham.com/2010/02/24/the-trouble-with-ruby-finalizers/

Do you want me to fix it?

Update: actually this is supposed to work (and should) but it seems, that Ruby generate

[2021-04-02 19:02] bmonteiro opened #156 "No provider for SASL mechanism GSSAPI: recompile librdkafka with libsasl2 or openssl support. Current build options: PLAIN SASL_SCRAM OAUTHBEARER (Rdkafka::Config::ClientCreationError)"
Hello,

It is possible to get SASL_SSL supported by default ?

[code]

[2021-04-12 14:30] wpolicarpo commented on #153
I have the same issue here and can see 2 possible solutions:

1. Allow users to pass something like [`--with-rdkafka-dir`](https://ruby-doc.org/stdlib-2.5.1/libdoc/mkmf/rdoc/MakeMakefile.html#method-i-dir_config) option via [bundle config build](https://bundler.io/man/bundle-config.1.html#BUILD-OPTIONS)
2. Allow users to override the [download URL](https://github.com/appsignal/rdkafka-ruby/blob/ma

[2021-04-16 04:02] shika-n opened #157 "Installing rdkafka-ruby behind a proxy"
Hi, I tried to install the gem with both `bundle install` using gemfile and `gem install rdkafka` but i'm behind a proxy and both fails. I suppose it has something to do with rake trying to fetch with https since i'm getting OpenSSL error. I tried to modify the rakefile by replacing https with http before calling open_uri and also tried to add proxy to open_uri but i'm not really sure i know what

[2021-04-18 03:55] clutonik commented on #156
I am getting the same error. I am using fluentd's rdkafka2 output plugin which uses rdkafka.
My Configuration:
<match syslog.**>
  @type rdkafka2
  # List of brokers
  brokers “#{ENV[‘KAFKA_BOOTSTRAP_SERVERS’]}”
  # ssl_ca_certs_from_system true
  ssl_ca_cert /app/ca-cert.pem
  use_event_time true
  principal “#{ENV[‘KAFKA_SASL_PRINCIPAL’]}”
  service_name kafka
  keytab /app/kafka.keytab
  get_ka

[2021-04-18 04:25] clutonik commented on #52
@fyery-chen were you able to get GSSAPI mechanism working ?

[2021-04-18 13:15] clutonik commented on #157
Hi @shika-n
Can you run below command to make sure you have proxy  environment variable available to gem:

**Command:** - gem env

If you do not see your proxy variables in the output of previous command, you can try installing this gem using below command:
Command: gem install -p http://proxy_ip:proxy_port rdkafka

If you want to stick to exporting environment variables before you run gem install

[2021-04-19 01:56] shika-n commented on #157
Hi @clutonik thank you for replying,
Indeed, i did not see any proxy variables when i run `gem env`:
[code]
However, i did try to run it with both `-p` and `--http-proxy` commands which still gave me the same error message.
By running `env | grep http` i can confirm that http_proxy, HTTP_PROXY, https_proxy, and HTTPS_PROXY are all defined and have the correct value.

[2021-04-19 02:00] clutonik commented on #157
@shika-n Can you try updating ~/.gemrc file by adding proxy en vars? You might find few examples online for this.

[2021-04-19 04:18] shika-n commented on #157
@clutonik So i created the ~/.gemrc file and setup a basic setting with proxy as the following according to what i find online:
[code]
The proxy now shows up on `gem env`.
But no luck, still outputs the same error when i ran `gem install rdkafka`.

[2021-04-19 12:04] clutonik commented on #157
Okay. Strange. Can you add --trace to gem install command to see more details ? Meanwhile, I will try to replicate this issue at my end.

[2021-04-19 12:40] thijsc commented on #157
We do a separate `open` call, I'm actually not sure if that would pick up proxy env vars by default.

[2021-04-19 12:41] thijsc commented on #156
We don't use SASL ourselves, so haven't had a reason to add support myself. Happy to help with that though. I think the main bottleneck is having some way to test it. Does it require any changes on the Ruby side? Or just a different compilation option?

[2021-04-19 12:49] bmonteiro commented on #156
I managed to have it working with CentOS (should work in any distro). It looks like it is all about the under-need lib "librdkafka" to be complied with SSL, GSSAPI support.

[2021-04-19 14:38] clutonik commented on #156
@bmonteiro Can you share more details about how you tested it?
@thijsc I am currently trying to test this by adding SASL_SSL listeners in the docker-compose configuration you have provided for local testing. I will update you whenever that's ready but if @bmonteiro has already got his test going then I think that would be great.

[2021-04-20 08:19] thijsc commented on #156
That would be amazing!

[2021-04-22 02:36] shika-n commented on #157
@thijsc are there any workarounds?

[2021-04-28 20:07] clutonik commented on #156
Created pull request for this. https://github.com/appsignal/rdkafka-ruby/pull/158#issue-625532329

[2021-05-10 21:28] thijsc commented on #153
I'd be happy to accept a pull request for something like this.

[2021-05-10 21:31] thijsc commented on #156
Looking at #158 I'm not sure we need a change in the library or installation code. Do we?

[2021-05-10 21:50] thijsc commented on #157
I was taking a look and I'm not sure. Downloading of the archive is handled by [mini_portile](https://github.com/flavorjones/mini_portile). It's not very clearly documented, but when digging around I think you should be able to set it using the `http_proxy` env var.

[2021-05-18 01:32] shika-n commented on #157
Yes i did read about using http_proxy and did set the variable, but no luck.. The gem download itself is fine, it just the part when it's building the extension and downloading a file in the process. I'll report back here if i found anything later on.

[2021-05-24 17:27] cdesch commented on #157
@shika-n I ran into this problem as well. This gem will not work behind a corporate proxy or with a organization CA, and there is no way to sideload `librdkafka` in anyway.

[2021-05-24 19:08] thijsc commented on #157
We depend on [mini_portile](https://github.com/flavorjones/mini_portile) for the installation behaviour. Would be best to fix any proxy issues there.

[2021-05-24 19:22] cdesch commented on #157
Yes, but not much luck there. I did create a monkey patched workaround:

I [forked rdkafka](https://github.com/cdesch/rdkafka-ruby) and [added](https://github.com/cdesch/rdkafka-ruby/commit/8316257165505f62ec243ed4df2c2f2bc5a290fd) the dependency locally to `ext/librdkafka-1.4.0.tar.gz` and changed:

    recipe.files << {
        :url => "https://codeload.github.com/edenhill/librdkafka/tar.gz/v#{R

[2021-06-04 20:47] emersonpriceiv commented on #54
Hello! I'm curious what became of this work. We're currently going through the process of updating Racecar and we've been leveraging the consumer heartbeat instrumentation for monitoring our consumer health. Are there any plans to implement something similar? If not we would love to see it!

[2021-06-05 08:07] mensfeld commented on #54
@emersonpriceiv the current API allows you to do that. Please see the PR above for waterdrop where there's a full instrumentation support.

[2021-06-08 14:53] ojab commented on #157
mini_portile [use `ENV` for proxies](https://github.com/flavorjones/mini_portile/blob/863da5eeb26e4c3b8f368be25f2fbc5f60a83a30/lib/mini_portile2/mini_portile.rb#L506) and gem configuration does not change `ENV`.
So `https_proxy=foo.example.com gem install` should work.

[2021-06-09 12:10] shika-n commented on #157
@cdesch I tried your solution with a little bit of extra work on my end and it does work! But bundler doesn't detect it as installed, but i guess that's another problem..

@ojab I did read issue 153 before posting this issue, I thought fixing this one might be faster in my case since i can access the internet. But i guess not. If issue 153 is fixed, it would defintely also fix this problem. I'm lo

[2021-06-09 14:43] mensfeld commented on #154
Fix is here: https://github.com/appsignal/rdkafka-ruby/pull/160

[2021-06-12 15:25] cdesch commented on #157
@ojab That sort of works... but then there is a problem if you use an intermediate Package Registry (private RubyGems) and there is also a problem with self-signed Corporate CA's. This all gets more complicated with CI Pipelines and Docker Builds, so it is really nice if everything is already included in the gem out of the box and the project can do just a `bundle install`. This is why downloading

[2021-06-16 19:48] mensfeld commented on #96
@thijsc I can reproduce this one easily - happening quite often.

[2021-06-23 13:53] thijsc commented on #157
What do you propose we do about this?

[2021-06-23 13:56] mensfeld commented on #157
@cdesch can't you just fork it and inject the things you need, repack and release for offline? automating this should be fairly easy.

[2021-06-23 14:01] thijsc commented on #153
Closing this one, there is more discussion about this going on in #157.

[2021-06-23 14:01] #153 closed

[2021-06-23 14:01] thijsc commented on #156
Any update on this @clutonik?

[2021-07-21 14:34] caspg opened #162 "Questions about Producer termination sequence"
According to [this doc](https://github.com/edenhill/librdkafka/blob/master/INTRODUCTION.md#producer) the proper termination sequence for Producer is:

[code]

In `rdkafka-ruby` we are just calling `rd_kafka_destroy` [click](https://github.com/appsignal/rdkafka-ruby/blob/main/lib/rdkafka/producer.rb#L50). Are we not calling `rd_kafka_flush` because of [this condition in polling loop](https://github

[2021-08-03 05:58] mensfeld opened #163 "Using partition_key on a non-existing topic causes Rdkafka::RdkafkaError (leader_not_available)"
When using the `partition_key` with a non-existing topic, the topic is supposed to be created upon `partition_count` execution when `auto.create.topics.enable` is set to `true`.

ref: https://github.com/appsignal/rdkafka-ruby/blob/380678f6a7ba8f7791aa190288caaae1a7b5fab2/lib/rdkafka/producer.rb#L101

This indeed is the case, however, there is one problem with the current implementation and there a

[2021-08-05 11:19] thijsc commented on #80
A global error hook is being added in #161

[2021-08-05 11:20] thijsc commented on #156
Closing this, feel free to reopen if there is news.

[2021-08-05 11:20] #156 closed

[2021-08-05 11:21] thijsc commented on #157
I'm not exactly sure what to do here. We outsourced the rdkafka installation part to `mini_portile`. In principle I would say that missing installation features should be added in that project. Anybody have a different view on this?

[2021-08-05 16:57] cdesch commented on #157
Having an embedded downloader during the installation makes sense if the version of the [`librdkafka`](https://github.com/edenhill/librdkafka) is going to be changing a lot or can be set as part of the `rdkafka-ruby` library functionality or if the dependency was a large file download. This doesn't seem to be the case for `rdkafka-ruby` as it is currently pinned on to a specific version (such as t

[2021-08-06 03:25] shika-n commented on #157
To be honest, just having the option to at least download it manually and then set a path somewhere or put the manually downloaded source (`.tar.gz`) on the target folder (if i'm not mistaken it's `gems/rdkafka-0.8.1/ext`) would be sufficient. Unfortunately, the installer deletes the rdkafka gem folder everytime it's trying to install, so can't do that unless that behaviour can be changed. I think

[2021-08-09 14:44] thijsc commented on #157
This is a viable option as far as I am concerned. I'd be more inclined to include the code than create lots of options to customize the installation process.

[2021-09-06 14:52] mensfeld opened #168 "Format inconsistency between producing and consuming of messages with headers"
When producing messages, this doc specifies that both keys and values should be string:

https://github.com/appsignal/rdkafka-ruby/blob/b7c790b21427ad419d8144d6c56b0655e2148adc/lib/rdkafka/producer.rb#L81

but when received, they (headers) are casted to symbols:

https://github.com/appsignal/rdkafka-ruby/blob/b7c790b21427ad419d8144d6c56b0655e2148adc/lib/rdkafka/consumer/headers.rb#L54

This create

[2021-09-08 00:00] davide-bolcioni opened #169 "Brokers disconnected and all down in a loop"
Using 0.8.1 from [fluent-plugin-kafka](https://github.com/fluent/fluent-plugin-kafka):
[code]
and nothing is produced. The console producer produces without error.

[2021-09-08 19:32] davide-bolcioni commented on #169
My mistake, I got option passing through the fluentd plugin wrong.

[2021-09-08 19:32] #169 closed

[2021-10-19 12:40] joker1007 opened #171 "Ignore `partitioner` config when I pass `partition_key` to `Producer#produce`"
When `Producer#produce` method receives `partition_key`, it uses `Rdkafka::Bindings.partitioner`.
The partitioner algorithm of `Rdkafka::Bindings.partitioner` is `consitent_random` and is not configurable.

Because of it, when I used rdkafka with `{partitioner: "murmur2_random"}` config, the partition ID is different for the same key depending on whether Producer#produce receives the partition_key

[2021-11-27 10:49] mensfeld opened #181 "Feature request: extend Rdkafka::Error with instance name"
(I am willing to implement it)

It would be good to have instance name (rd_kafka_name) in the error for debug purposes. Now we get an error message but there is no way to tie it back to particular native kafka instance. A change that would include the `rd_kafka_name` in the error would fix that.

basically something like this:

[code]

If :+1:  then I can quickly add it.

[2021-12-01 11:06] haines opened #182 "`librdkafka.so` is not cached by Bundler"
Copying `librdkafka.so` into `ext` breaks the Bundler cache; it's expected that native extensions compile artifacts to the gem's [`extension_dir`](https://github.com/rubygems/rubygems/blob/20d4957649fb7eaf4d57c220f5302ce2f4ee05ab/lib/rubygems/basic_specification.rb#L94-L108), not into `ext` directly; the result is that Bundler caches the (empty) extension directory, and does not include `ext/librd

[2021-12-27 11:03] mensfeld commented on #82
Closing as I was able to bypass this limitation without changing the design. If anyone needs this, just ping me.

[2022-01-04 19:17] matiasdominguez opened #183 "nc"

[2022-01-04 19:17] #183 closed

[2022-01-19 14:05] iftheshoefritz opened #184 "Install ignores existing librdkafka"
This gem appears to try building librdkafka regardless of its presence already. Unfortunately the librdkafka build process it uses seems to assume `/bin/bash` and breaks without it.

If the gem build process could check for the presence of `librdkafka`, it wouldn't be necessary to force users to install `bash` on their servers. In my case there is already a `librdkafka` package available for Alpin

[2022-03-09 18:16] Draiken opened #186 "Using `partition_key` raises `Local: Timed out` errors"
We've recently started using `partition_key` when producing messages and started seeing a big number of `Rdkafka::RdkafkaError: Local: Timed out (timed_out)` even with a small number of messages.

IDK if this value needs to be memoized (at least for a short time?) or if anything else needs to be tweaked in order to get it to work reliably.

We attempted to increase all the `*.timeout.ms` variables

[2022-03-09 18:21] mensfeld commented on #186
Does it happen when creating messages to existing topics or new topics (first message)?

[2022-03-09 18:25] Draiken commented on #186
All existing topics. We have auto create set to false.

[2022-03-09 18:32] Draiken commented on #186
To give a bit more context: we are using Heroku Kafka, so we don't have any access to logs on the Kafka side.

[2022-03-09 18:43] geoff2k commented on #186
Are you on the `basic` plan type?  `standard` and `extended` plans can access kafka logs per [their docs](https://devcenter.heroku.com/articles/kafka-on-heroku#monitoring-via-logs).

(Perhaps not helpful, but just clarifying that there are some mechanisms that allow access to logs when using heroku kafka).

[2022-03-09 19:01] Draiken commented on #186
We are on `standard` but the logs were completely useless so far. They just tell us rate of consumption, iops, and things like that... example line of the only logs we get:
[code]

[2022-03-09 19:04] Draiken commented on #186
It just occurred to me that Heroku Kafka might be having an errror with the metadata request, but if we don't get a response within the `250ms` timeout, we wouldn't see the real error, only the timeout.

According to [their ACLs](https://devcenter.heroku.com/articles/kafka-on-heroku#understanding-acls) we should have `Describe` permission to `Topic` so it should not be a permission issue.

[2022-03-09 19:05] mensfeld commented on #186
Would you mind also telling me:

1. rate at which you send data
2. exact config you have for production
3. average and max size of messages
4. does it happen without a partition key usage?

[2022-03-10 13:54] Draiken commented on #186
Of course!
* Our producers were generating around 60 messages per second peak. But later we could reproduce the error with much lower rates
* This one is a bit tricky since we tried a bunch, and Racecar wraps most of it. We saw this with all the default `*.timeout.ms`. The only values we changed from [defaults](https://github.com/zendesk/racecar/blob/77ce3e090d442f77b57473c39136c7b9fd0bcc3f/lib/ra

[2022-03-10 16:04] thijsc commented on #186
This sounds like it's probably not caused by the Ruby layer, but by some interaction between librdkafka and kafka. @leonmaia mentioned that there was a timeout in listing groups in #185. Could that maybe be related?

[2022-03-14 11:53] leonmaia commented on #186
FWIW: https://github.com/edenhill/librdkafka/issues/3705, there's a know issue in librdkafka that addresses some time out issues. The fix is only released in a RC1 release tho.

[2022-03-17 22:00] benmollet opened #188 "Install fails on windows for all versions"
I'm trying to install the gem on windows with:

gem install rdkafka -v '0.8.1'

(I tried all newer versions as well)

But it fails with the following:

PS C:\code> gem install rdkafka -v '0.8.1'
Temporarily enhancing PATH for MSYS/MINGW...
Building native extensions. This could take a while...
ERROR:  Error installing rdkafka:
        ERROR: Failed to build gem native extension.

    current direc

[2022-03-29 16:55] dezka opened #190 "Segfaults thrown from producer running in Rails on Puma."
**rdkafka-ruby version: 0.11.1
ruby 2.7.0, Rails 6, Puma 5.5.2**

We are running into a segmentation fault problem that is consistently thrown from [rd_kafka_msg_partitioner_consistent_random](https://github.com/appsignal/rdkafka-ruby/blob/main/lib/rdkafka/bindings.rb#L256) when calling `#produce` with a `partition_key` set. However the segfault situation itself is sporadic and random.

In this si

[2022-03-29 17:05] mensfeld commented on #190
This is an issue for a long time: I bypassed that in WaterDrop by detecting a fork and raising an exception because of that:

https://github.com/karafka/waterdrop/blob/master/lib/waterdrop/producer.rb#L69

The moment rdkafka client establishes connection, it is no longer safe to fork the process without recreating the producer.

[2022-03-29 19:29] dezka commented on #190
Hi @mensfeld, thank you for the information, glad we're not alone here. This seems to be a good solution.

Are you rescuing / recovering from the fork anywhere? (I couldn't find any such code after a brief skim) Or is this exception just notifying the user that a fork happened making the producer unable to proceed, and it's up to them on how to deal with that situation?

[2022-03-30 04:17] thijsc commented on #190
Looking at the stacktrace it looks like this happens in `rd_kafka_msg_partitioner_consistent_random` in librdkafka itself. This could be a bug on that side.

[2022-03-30 04:18] #171 closed

[2022-03-30 04:19] thijsc commented on #188
I don't believe we've tested this gem on Windows so far. You're not using the linux base system right?

[2022-03-30 04:20] thijsc commented on #184
We don't have plans to detect librdkafka on the machine. Would using `/bin/sh` work better for you?

[2022-03-30 04:21] #80 closed

[2022-03-30 04:21] #154 closed

[2022-03-30 04:52] thijsc commented on #182
Do you know where the files end up? Is this still within the installed gem directory?

[2022-03-30 11:45] mensfeld commented on #190
Let me quote edenhill on this one:

ref: https://github.com/edenhill/librdkafka/blob/master/tests/0079-fork.c#L40

Though he points out that it should not crash. Nonetheless I had many problems with forks, that's why I implemented the guarding.

It is an exception. Technically WaterDrop is lazy loading the client, so you can safely initialize it before forking as long as you do not use it. If it i

[2022-03-30 13:39] thijsc commented on #190
Given this I think we should add some forking detection here too. What kind of fork detection are you using in Waterdrop, comparing pids or something else?

[2022-03-30 13:42] mensfeld commented on #190
@thijsc https://github.com/karafka/waterdrop/blob/master/lib/waterdrop/producer.rb#L65:L69

IMHO docs should be enough and higher level producers like waterdrop and others should handle code stuff like this. Though feel free to copy if you consider useful

[2022-03-30 13:48] thijsc commented on #190
I agree in principle, but if this can lead to segfaults I think that's outside of the contract of what a gem like this offers.

[2022-03-30 13:50] mensfeld commented on #190
@thijsc if you tell me how you want it, I can port it.

[2022-03-30 15:46] dezka commented on #190
I agree that the forking detection should be ported, I would expect that to be in `rdkafka-ruby` rather than pushing that off to the users of the gem.

Since we are already lazy loading our producers, I don't know if we're hitting the forking problem here though. I _think_ after digging more, we are hitting [this](https://github.com/appsignal/rdkafka-ruby/issues/15), because we are running our pro

[2022-03-30 15:56] mensfeld commented on #190
@dezka a bit of advertisement: you may want to try waterdrop. I spent a fair amount of time making it work with buffering and thread safety while maintaining performance. Castle.io produces tens of thousand of messages per second with it and it never crashed. Castle uses a similar setup as you guys: puma + rails  + ruby 2.7.

[2022-04-01 15:51] iftheshoefritz commented on #184
`/bin/sh` would work for me and is more universal, I think.

[2022-04-04 21:24] benmollet commented on #188
No, I tried this on regular windows

[2022-04-11 10:58] #182 closed

[2022-04-15 15:22] dezka commented on #190
Just to update on this, we switched over to sync producers and this didn't resolve the above segfault. I guess this may be a bug in librdkafka perhaps? Or Puma is still forking _after_ our client's are lazy loaded. Still digging around on our end.

[2022-04-22 06:44] laurynas opened #195 "No delivery handle reference in delivery callback"
Delivery report is passed in the delivery callback, but it is impossible (?) to find a delivery handle by it.

`produce` returns delivery handle and if we would like to wait for the callback to check the status, not it is not possible. The only option is `wait`.

Looks like originally it was intended to pass delivery handle to the callback, because callback argument is named `delivery_handle`:
htt

[2022-05-02 22:40] leandrofinger commented on #184
Is there a way to skip `librdkafka` build?

I'm on a M1 Pro and it fails when running `gem install rdkafka` but I could install the librdkafka through Homebrew

[2022-05-04 07:29] thijsc commented on #184
@mikesnare what error do you get?

[2022-05-15 08:00] TonGarcia opened #197 "Mac M1 error to compile"
Is it possible to use it with librdkafka? It is not working running gem pristine rdkafka --version 0.5.0

[2022-05-19 20:12] trickleup commented on #184
Does anyone have a workaround that allows them to install the gem on an M1 mac?

[2022-05-20 05:46] clupprich commented on #184
I don't remember how I did it, but I have it installed. Must have been rather uneventful, otherwise I would probably remember. Let me see if I can refresh my memory today.

[2022-05-21 05:33] wanabe opened #199 "Reference to Opaque is not released when Admin, Consumer or Producer is closed"
Hello,

I have observed that when a long-lived process such as sidekiq repeatedly creates and destroys Producers, the memory usage of the process increases.
Apparently, the references from `Rdkafka::Config.opaques` seems remain even after closing.
In the case of Consumer and Admin, the Opaque itself seems to be recovered by GC, but the Opaque created at the same time of creation remains.

How abou

[2022-05-21 05:43] wanabe commented on #199
I have written a few patches, but none of them were made into pull requests because I didn't think they were very good approaches.

<details><summary>It increases the method unnecessarily.</summary>

[code]
</details>

<details><summary>It is unclear the separation of concerns.</summary>

[code]
</details>

[2022-05-21 07:37] mensfeld commented on #199
Just to be clear for anyone else: rdkafka producers should not be initialized per message and they should be persistent.

[2022-05-21 08:02] wanabe commented on #199
Thank you for your comment.

Yes, it is indeed not generated for each message. That is indeed too inefficient.
In my application, I was generating and closing them on a per sidekiq job basis.

If this is still inefficient, it may be possible to introduce some sort of connection pool between jobs.
Should I do that?

[2022-05-21 08:06] mensfeld commented on #199
@wanabe in general librdkafka that runs underneath rdkafka is thread safe. There is no real reason not to use it in multiple threads at the same time. I certainly do in scale and had no issues for a really long time now.

If you are looking for something more abstract, you can take a look at https://github.com/karafka/waterdrop - it's built on top of rdkafka with some additional concurrency warran

[2022-05-24 14:14] mensfeld commented on #119
@thijsc feel free to reopen. I will look into this in the upcoming weeks.

[2022-06-06 23:45] dezka commented on #190
@thijsc @mensfeld

It seems we found the issue. When setting an empty `partition_key` on the produce, it recreates this segfault.

After getting some extra logging turned on recently, we were able to finally grab a payload that we think caused the crash. In a rare situation it passes an empty string to the partition key.

[code]

[2022-06-07 06:43] mensfeld commented on #190
Great find! This would explain why I never encountered it: https://github.com/karafka/waterdrop/blob/master/lib/waterdrop/contracts/message.rb#L23=

I can also reproduce this issue with ruby 3.0 and 3.1.

I do recall edenhill quoting that a null key can be used in the partitioners, so my suggestion would be to use nil (works) instead of empty string for this case.

[2022-06-20 13:28] #195 closed

[2022-06-22 17:12] #190 closed

[2022-07-08 13:57] mikesnare commented on #184
Still no resolution to this after 6 months?

[2022-07-08 14:06] thijsc commented on #184
We don't have a use case for using a system version of the library ourselves. If you want to take on the work to make that happen I'm happy to help it get shipped!

[2022-07-08 14:08] thijsc commented on #197
I've had no trouble using the recent versions on my M1 Mac. 0.5.0 is quite old, I'd guess it uses a librdkafka version that does not support M1 yet.

[2022-07-08 14:14] mikesnare commented on #184
@thijsc Fair enough, but 3 of the comments in this post are specifically about people on M1s not being able to install this gem on M1s.  I can open a separate issue for that.

[2022-07-08 14:17] thijsc commented on #184
Also fair enough from my end then :-). I think this fell of my radar because I wasn't planning to work on the issue as it was originally opened. I'm actually going to close this one since I don't think anybody is going to push on that. Feel free to open an issue about M1 problems!

[2022-07-08 14:17] #184 closed

[2022-07-08 14:18] thijsc commented on #188
I have no clue honestly. I don't have access to any Windows machines that I can test with. I guess we could add a windows build to our CI. Would you be willing to work on that?

[2022-07-20 16:56] JarrodFolinoFC opened #203 "Install on M1 Mac"
I am trying to install and I have specified where openssl is with the following command:

`CPPFLAGS=-I/opt/homebrew/opt/openssl@1.1/include/ LDFLAGS=-L/opt/homebrew/opt/openssl@1.1/lib gem install rdkafka -v '0.10.0'`

However I get the following error:
[code]

The error seems to be that it is building the native librdkafka lib based on the x86_64 architecture

Is there a way to bypass building th

[2022-07-21 06:30] thijsc commented on #203
Have you tried the latest version `0.12`? `0.10` was using librdkafka `1.5.0`, I do not think that version works on M1.

We've had some reports of installation issues on M1, but I haven't been able to reproduce them so far, so would love to get to the bottom of this.

[2022-07-21 12:44] JarrodFolinoFC commented on #203
I tried with

- rbenv
- ruby 2.6.0
- compiled using the x86_64 architecture
- gem version 0.12.0

And I got a similar error

Looks like I have some dependencies missing on my x86_64 binaries

[2022-07-22 07:58] thijsc commented on #203
Odd that it seems to want to do x86 stuff. What happens if you compile librdkafka from source yourself?

[2022-07-22 07:58] thijsc commented on #203
What do you mean with:

Are you using Rosetta?

[2022-07-22 09:48] JarrodFolinoFC commented on #203
Ok the problem was I was using a hybrid of M1 and rosetta. So I can confirm now it can work on M1 Mac when you set up the dependencies are set up correctly. I ended up using 2 versions of brew an x86 and the M1 versions. This is my setup

`
# x86 brew
arch -x86_64 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"

# apple silicon brew
sudo mkdir -p /

[2022-07-22 09:48] #203 closed

[2022-07-22 09:52] thijsc commented on #203
Thanks for letting me know!

[2022-07-24 19:55] ColinDKelley opened #204 "Headers.from_native rdoc says it returns Hash<String, String> but actually it is Hash<Symbol, String>"
I was surprised to get `headers` returned as a `Hash<Symbol, String>` when the [Headers documentation](https://github.com/appsignal/rdkafka-ruby/blob/main/lib/rdkafka/consumer/headers.rb#L7) and [Message documentation](https://github.com/appsignal/rdkafka-ruby/blob/main/lib/rdkafka/consumer/message.rb#L29) both say `Hash<String, String>`.

I'd happy to make a PR to address this.

My preference wou

[2022-07-24 19:58] ColinDKelley opened #205 "add # frozen_string_literal: true magic comment"
Best practice these days is to add the `# frozen_string_literal: true` comment at the top of each Ruby file so that this gem doesn't create unnecessary string garbage with each string literal.

I can create a PR that does this with the tool here: https://github.com/Invoca/magic_frozen_string_literal

[2022-07-25 08:36] mensfeld commented on #204
Yeah ref https://github.com/appsignal/rdkafka-ruby/blob/main/lib/rdkafka/consumer/headers.rb#L54=

I would opt on the approach @ColinDKelley suggests as well to normalize it to be string only.

[2022-07-25 08:39] mensfeld commented on #204
actually this card is a duplicate of one that I created while ago: https://github.com/appsignal/rdkafka-ruby/issues/168

[2022-07-25 09:07] thijsc commented on #205
Thanks for fixing this

[2022-07-25 09:07] #205 closed

[2022-07-25 09:09] thijsc commented on #204
Make sense to have the keys be strings to me

[2022-07-25 23:46] ColinDKelley commented on #204
Great, I'm happy to make a PR that changes the keys to strings including in the specs.

I'm fine closing this ticket out as a duplicate of #168. But I have this question remaining first:

Assuming we follow Sem Ver, that would indicate we need a major version bump to release this fix, since it will break any code looking up message headers by Symbol. Any objections to that? Or anyone feel it's not

[2022-07-26 01:19] ColinDKelley commented on #204
PR is here: https://github.com/appsignal/rdkafka-ruby/pull/207

[2022-07-31 20:55] mensfeld opened #208 "Support group deletion in admin"
No need to do it, this is for me to implement.

ref https://github.com/edenhill/librdkafka/releases/tag/v1.6.0

[2022-08-12 22:47] trickleup commented on #82
@mensfeld - running into the same issue that you describe, of needing to have multiple instances of producers/consumers, and to be able to isolate the statistics_callbacks between those instances.

Do you mind sharing the gist of what you did to achieve this?

[2022-08-15 09:42] thijsc commented on #181
Sounds great

[2022-08-16 09:27] mensfeld commented on #82
@trickleup I'm on a holiday and I plan to backport if from karafka and waterdrop to rdkafka once back (2 weeks).

If you are looking for multiple instances I would recommend going with the wrapper I did waterdrop: https://github.com/karafka/waterdrop as it tackles those cases. The code for this is also somewhere there. Writing from mobile so can't locate the exact files sorry :pray:

[2022-08-16 13:15] mensfeld commented on #181
I will backport this once back from a short holiday. I have the code ready.

[2022-08-19 23:53] jvortmann opened #212 "Map and deal with `RD_KAFKA_RESP_ERR__STATE` when using `store_offset` directly"
As of [`librdkafka` `v.1.9.0` release](https://github.com/edenhill/librdkafka/blob/master/CHANGELOG.md#upgrade-considerations) that is on version `v0.12.0` we started noticing a increase occurrence of the mentioned `RD_KAFKA_RESP_ERR__STATE` when using `store_offset` directly: https://github.com/appsignal/rdkafka-ruby/blob/c02f217a189b71e3e253fe4ad59286b5fc9d4034/lib/rdkafka/consumer.rb#L325

This

[2022-08-20 00:01] jvortmann commented on #212
Note: we catch and log these right now but we decided to fix the used version to `< 0.12.0` for safety.

We also used a wapper so we can catch the errors without checking the `response` everywhere, like the following (not the actual code, but close):

[code]

and then we can:

[code]

[2022-08-20 07:19] mensfeld commented on #212
Correct me if I'm wrong, but this is already remapped and works as other errors, for example `RD_KAFKA_RESP_ERR__ASSIGNMENT_LOST` that also should be handled by the end users.

I can see it being used in karafka and racecar for a while already:

https://github.com/karafka/karafka/blob/master/lib/karafka/connection/client.rb#L254

[2022-08-25 19:41] vicramon commented on #203
@JarrodFolinoFC I'm seeing the same thing. Are you able to share the next steps you took after setting up these environments? Did gem install simply work after that?

[2022-08-25 23:49] mollyegibson opened #214 "Support for String partitioner config"
I am using racecar version 2.8.2, rdkafka 0.12.0, and kafka 3.2.1. I am producing messages to the same topic as a Java service, and I need to set the producer partitioner_name to murmur2 so that they hash the partition keys in the same way and events with the same partition key are sent to the same partition. I have set my config in racecar.yaml to include the partitioner like this:

[code]

Racec

[2022-09-15 14:01] thijsc opened #216 "Chasing the last segfault"
There is one more segfault that we sometimes see happening. It can happen when the Ruby process exits, which leads me to believe it has something to do with the termination order.

I tried to reproduce on Semaphore using:

[code]

That however does not crash. @mensfeld do you have any other examples I could try?

[2022-09-15 17:39] mensfeld commented on #216
More than one ;)

and this one crashes if you run it few times:

[code]

test.rb is exactly what you have above.

I will try to give you more in the upcoming days but running this in a loop in bash crashes it.

[2022-09-16 09:43] thijsc commented on #216
Thanks. I am trying to add finalizers for the consumer and admin classes too. That might help, this seems to have something to do with cleanup at exit.

[2022-09-16 12:29] mensfeld commented on #216
@thijsc jemalloc may also cause more frequent crashes.

[2022-09-16 14:19] thijsc commented on #216
Oeh, got valgrind to print some useful stuff: https://appsignal.semaphoreci.com/jobs/163b1af4-7993-43c5-8f8b-4a5fa73d0936

[2022-09-16 15:35] thijsc commented on #216
I've improved the cleanup logic in #211, let's see if stuff still segfaults after this.

[2022-09-16 15:41] thijsc commented on #216
Still some stuff crashing...

[2022-09-16 15:59] thijsc commented on #216
I've opened https://github.com/edenhill/librdkafka/issues/3981 to see if they have an idea what we should look for next.

[2022-09-17 15:35] mensfeld commented on #216
I saw ;) I keep track of changed in librdkafka on a daily basis ;)

When you are done with #211 feel free to ping me. I can run extensive integrations from karafka on it (ref: https://github.com/karafka/karafka/tree/master/spec/integrations). They heavily stress both those bindings and librdkafka.

[2022-09-26 21:33] trickleup opened #217 "Customizing producer name for librdkafka statistics/metrics"
Hi, thanks for all your work on the library.

I'm tapping librdkafka metrics via the statistics callback, which works well.

Is there a way to customize the name of the producer, that is then returned from librdkafka to the stats_callback? By default, the metrics report `rdkafka#producer-1`, `rdkafka#producer-2`, and so on, so I wonder if it's currently possible to explicitly name these to somethi

[2022-09-30 13:33] thijsc commented on #216
I was able to extract a crash report with some C backtrace information. Something is happening in the destroy process. I checked the termination order docs again and am quite confident we're doing it right. Hopefully @edenhill can give us a hint.

[2022-10-03 12:18] mensfeld commented on #217
as far as I recall you can just use `client.id`: https://github.com/karafka/waterdrop/blob/master/lib/waterdrop/config.rb#L12

[2022-10-04 11:00] methodmissing commented on #216
@thijsc is this specific to the 1.9.2 librdkafka branch? I'm not able to repro with either main (1.9.0) or the 1.9.2 branch, on a M1 Mac at least. I'll try in a Linux env as well.

* Your extracted backtrace follows a `fork` operation and a GC finalizer (probably [this one](https://github.com/appsignal/rdkafka-ruby/blob/c02f217a189b71e3e253fe4ad59286b5fc9d4034/lib/rdkafka/producer.rb#L26)). Does i

[2022-10-04 11:04] thijsc commented on #216
This has been happening on other versions too. I haven't seen it crash on Mac, it might be Linux specific.

[2022-10-04 11:08] methodmissing commented on #216
And only ever in the context of a `fork`?

[2022-10-04 11:47] mensfeld commented on #216
@methodmissing

Around finalization / closing of consumer/producer mostly and on Linux.

[2022-10-11 13:08] thijsc opened #222 "Re-add jRuby build"
I've removed the failing jRuby build for the moment so we can make progress on fixing the last remaining segfault. Is somebody interested in picking this up? The original contributor is not active anymore on Github.

[2022-10-11 13:20] thijsc commented on #216
I haven't been able to crash the build again with the changes in #211. I've merged it, it's def better than before at least. I've pushed `0.13.0.beta.1` with all the latest changes. @mensfeld could you run this one through your integration test?

[2022-10-11 13:23] thijsc commented on #214
Was this fixed in #213?

[2022-10-11 13:24] thijsc commented on #157
I'm closing this one for now. If anybody has trouble with this or wants to work on improving the situation: Feel free to re-open.

[2022-10-11 13:24] #157 closed

[2022-10-11 14:02] mensfeld commented on #216
I could but you changes so many things that now my patches do not work :sweat:

[2022-10-11 14:08] thijsc commented on #217
That should indeed work

[2022-10-11 14:08] #217 closed

[2022-10-11 14:10] thijsc commented on #216
Oh which changes broke things?

[2022-10-11 14:11] thijsc commented on #216
Ah probably the client refactor. Sorry about the hassle.

[2022-10-11 14:12] mensfeld commented on #216
It's ok. The fix was simple. I will show you the PR once I roll it out. So far with minor patch my specs are working well (though still running).

[2022-10-11 21:51] methodmissing commented on #216
The core dump is picky with exact symbols (compiled 3.1.2 from source, no cigar). Could repro local on a Linux laptop with this in the project root:

* `gdb -q `which ruby``
* `(gdb) run `which bundle` exec rspec`

[code]

compiling librdkafka with debug symbols and rerunning

[2022-10-11 21:55] methodmissing commented on #216
GC finalizer context on the Ruby side:

[code]

[2022-10-12 06:52] ngtban commented on #203
Could you please give more details as to how you resolved this? I have smilar setup with both x86 and arm version of brew installed, but cannot find a way to get pass this error when installing `rdkafka-ruby`.

[2022-10-12 10:11] methodmissing commented on #216
Another variation:

[code]

[2022-10-13 15:40] ngtban commented on #203
I see. I also had both the arm and x86 version installed when I asked you, and managed to install things normally by removing both, then install back the arm version. Thanks for clarifying!

[2022-10-18 15:31] ColinDKelley commented on #204
Resolved with #207 merge.

[2022-10-18 15:36] mensfeld commented on #168
Yes

[2022-10-23 14:27] thijsc commented on #216
I'm trying some stuff here: #223

[2022-10-23 19:57] thijsc commented on #216
Just noticed `config.rb:21` is in one of the traces. I'm wondering if the change in #97 could be related.

[2022-10-23 20:42] thijsc commented on #216
After reverting #97 and trying that branch in our staging I still see a segfault on exit every now and then, so has to be something else I guess.

[2022-10-24 13:36] thijsc commented on #216
Some progress, with [this spec](https://github.com/appsignal/rdkafka-ruby/pull/223/files#diff-c158cccd861c722534331d9a4091954e4eb3019c7bcde0bfed643afafb0a9da3) it segfaults every build, instead of sometimes.

[2022-10-24 14:48] thijsc commented on #216
Useful to know @mensfeld. I tried skipping the destroy, still segfaulting then. I'm sort of at my wits end here, it seems like we're doing everything right but it still happens.

[2022-10-24 14:49] mensfeld commented on #216
I will look into this as well at the end of next week. We can also ask @ioquatix for help - he helped me several times with C/FFI/GC debugging.

[2022-10-24 14:50] thijsc commented on #216
That'd be great! We could def use help from an expert.

[2022-10-24 17:32] thijsc commented on #216
I ran the thing until it broke with optimizations off and devel symbols on. This yields a more usable backtrace:

[code]

[2022-10-24 17:48] thijsc commented on #216
So the segfault appears to happen while joining a thread here: https://github.com/edenhill/librdkafka/blob/master/src/rdkafka.c#L1105

Scanning this and the code in tinythread it looks to me like the pointer to the thread it joins is sometimes null. Messing around a bit I can reproduce what @mensfeld saw on Mac by calling destroy twice:

[code]

Always yields:

[code]

If I completely remove the d

[2022-10-24 18:18] thijsc commented on #216
I might have found a workaround, you can use `rd_kafka_destroy_flags` to do a quick termination that skips the thread join. Seeing if that works now.

[2022-10-24 18:23] thijsc commented on #216
Haha yeah. I think it might still be better and might prevent a segfault when forking. But there's still another one too.

Def get Samuel involved! We are actually having some production issues because of this at the moment, so at least trying to find a workaround. Hence all the activity these days :-).

[2022-10-24 18:27] mensfeld commented on #216
@thijsc It's quite interesting because I had no one report this when using Karafka, and more than a couple of companies are using it. The only place I see it happen is the integration tests; even there, it only happens once a week or so. My specs build thousands of producers and consumers running all the things end to end.

Maybe the answer is in how I run and finalize all the work vs how you guys

[2022-10-24 18:28] thijsc commented on #216
That is interesting, anything specific you're doing there?

[2022-10-24 18:30] thijsc commented on #216
Guessing this is it? https://github.com/karafka/karafka/blob/78ea23f7044b81b7e0c74bb02ad3d2e5a5fa1b7c/lib/karafka/connection/listener.rb#L66

Why the mutex here?

[2022-10-24 18:30] mensfeld commented on #216
I wrapped producer, consumer and admin with several layers of concurrency protection, I make sure non of the things related to rdkafka are available when I shutdown all the things, I first always close consumer, then producer and I always wait for all the work to be done prior to finalization.

I also have custom rebalance cb and instrumentation.

[2022-10-24 18:32] mensfeld commented on #216
Because of consecutive close requests that can happen when shutdown request is invoked from a trap context and spawn separate threads.

[2022-10-24 18:33] thijsc commented on #216
Trying that in our app code, thx for the tip. Maybe we should consider adding this mutex layer here.

[2022-10-24 18:35] mensfeld commented on #216
Hard to say. Karafka has many thread-safe protection layers because it is multi-threaded, allows run connections to several clusters simultaneously (or several connections to the same cluster via subscription groups), and includes cross-thread work coordination in some scenarios. Not everything there is worth adding to a (sorry for saying this that way) primitive consumer because single-threaded c

[2022-10-24 18:37] thijsc commented on #216
It's worth a try :-), maybe the trap context is messing some stuff up for us.

[2022-10-24 18:37] mensfeld commented on #216
You should **never** run any type of code like this from the trap. Spawn a thread. Always.

[2022-10-24 18:40] mensfeld commented on #216
rdkafka-ruby has its own issues and there are also rdkafka issues on top of that. Like the one with sync commit messing up the cooperative rebalance or invalid error codes being raised (coordinator_load_in_progress instead of SSL handshake) that I handle exactly because this wrapper and librdkafka itself should be considered a low-level API with things built on top of it (like Karafka).

You can a

[2022-10-24 18:41] thijsc commented on #216
Maybe should actually. Regardless of that we should still strive to make this low-level library reliable.

[2022-10-24 18:43] mensfeld commented on #216
This would be a good crossover, I assure you ;)

But ofc that alongside fixing this. Whatever is in Karafka, this issue still crashes my CI once a week as I said. Will dedicate it some time and resources and lets tackle it once and for all ;)

[2022-10-24 19:44] ioquatix commented on #216
I’ve seen odd bugs like this when I incorrectly wrote a Ruby free implementation which looked at other Ruby objects during the GC free callback. Is there any code like this?

[2022-10-24 19:46] thijsc commented on #216
We're only calling the destroy functions that are available in the C lib, so of the top of my head probably not.

[2022-10-24 20:12] mensfeld commented on #216
Keep in mind we do rely on librdkafka itself for cleaning certain things: https://github.com/appsignal/rdkafka-ruby/blob/main/lib/rdkafka/bindings.rb#L151

maybe this is part of the issue

[2022-10-24 20:41] mensfeld commented on #216
One more thing: it's definitely resource related:

crashes:

[code]

works ok:

[code]

This means we have something dangling until the shutdown, and then we do not do it correctly.

[2022-10-24 21:21] mensfeld commented on #216
Ok, things get even more interesting: if I put sleep there instead of `GC.start` and completely disable GC it also works as expected.

My new guess: librdkafka may be cleaning resources periodically or slower than the finalization we run. I will look into its API tomorrow to check if there is any way to wait for all of the internals to stop.

[2022-10-24 21:26] mensfeld commented on #216
@thijsc you marked several functions as blocking: https://github.com/appsignal/rdkafka-ruby/blob/c7fe5499e3838b482e5943e68d68106494d36721/lib/rdkafka/bindings.rb#L187

This effectively releases GIL. Worth checking (will do tomorrow) if it ain't causing problems as well.

[2022-10-24 22:25] ioquatix commented on #216
The blocking callback cannot depend on invoking any ruby method, or it will result in disaster.

[2022-10-25 06:45] mensfeld commented on #216
@thijsc do you run jemalloc when this occurs for you?

[2022-10-25 08:13] thijsc commented on #216
Yes we do.

Yeah it just implemented this recently :-)

[2022-10-25 08:27] thijsc commented on #216
I was doing a bit of testing yesterday and it looks like the segfault is gone with going from cleanup in an `ensure` to cleanup in a trap, with spawns a thread, which closes the consumer using a mutex to make sure no poll is going on at the same time. Doing more testing at the moment.

[2022-10-25 08:31] mensfeld commented on #216
@thijsc I found another case where creating topic hangs the process unless explicit `close` on admin as something causes a deadlock in librdkafka, so I don't think we're done yet ;)

[2022-10-25 08:31] thijsc commented on #216
We're definitively not done, but I'm already happy when our runners cleanly restart for now :-).

[2022-10-25 08:39] thijsc commented on #216
I merged #223, which makes everything more consistent. @mensfeld there is now a `flush` method on the producer to make sure that all produced messages are flushed.

[2022-10-25 08:42] mensfeld commented on #216
So from what I understand, my way of doing things in Karafka via thread in trap was good from the beginning ;)

I would still keep this thread open to solve the rest of the issues.

I saw. Will update WaterDrop accordingly thanks.

[2022-10-25 17:19] thijsc commented on #216
After some more testing I've found that making sure the poll and close don't happen at the same time prevents at least one of the possible segfaults. By separating those with a mutex I don't see our processes segfault on exit.

[2022-10-25 17:52] mensfeld commented on #216
It will happen but much less often. Smart move :)

[2022-10-27 14:53] thijsc commented on #216
I got some [more info](https://github.com/edenhill/librdkafka/issues/3981#issuecomment-1292299454). Also our production has been very stable since we used a lock to separate polls and the close.

I am thinking what we should maybe use an internal mutex in every consumer instance to achieve the same effect.

[2022-11-01 11:01] thijsc commented on #212
I'd be open to generating exception subclasses for various errors, if we can come up with a way to make that maintainable.

[2022-11-01 12:24] mensfeld commented on #216
@thijsc I agree.

[2022-11-02 00:28] ioquatix commented on #216
Sorry I am only jumping in every now and then to check this issue.

Do you mind giving me a brief code example of "adding a mutex to close and poll calls" is? Do you mean `IO#close` and `IO#select` or equivalent? I've been digging around in Ruby's `IO#close` code for the past 12 months and there are some racy behaviour. If we can identify cases where it's a problem it helps me to characterise the

[2022-11-02 09:24] thijsc commented on #216
This is about locking around the C calls, like https://github.com/appsignal/rdkafka-ruby/blob/main/lib/rdkafka/consumer.rb#L432. All the IO is done on the C side.

[2022-11-05 15:14] mensfeld commented on #216
[code]

there's one more like this when assignment is in progress while termination occurs.

[2022-11-05 21:06] thijsc commented on #216
What I understood [here](https://github.com/edenhill/librdkafka/issues/3981#issuecomment-1293164994) is that that one should also be fixed by a lock, since the assignment happens in the poll.

[2022-11-05 22:30] mensfeld commented on #216
I'll run my stuff against master and lets see how it goes ;)

[2022-11-06 19:38] thijsc commented on #216
I haven't implemented this new lock yet, but plan to somewhere this week.

[2022-11-08 09:41] bragovo opened #226 "Ventura and Docker"
After last update on MacOS Ventura I can't install gem in docker. Freezes and do nothing at hours :-D

[code]

On host everything is ok:
[code]

Maybe problem with next darwin (22) and there is no librdkafka for it?

[2022-11-08 16:50] thijsc commented on #216
I've implemented the lock in #227. @mensfeld could you run this through your tests?

[2022-11-08 16:54] thijsc commented on #222
@Adithya-copart I believe you're using jRuby?

[2022-11-08 16:55] #162 closed

[2022-11-08 16:56] thijsc commented on #226
It's hard to say what could be wrong here, I'd expect this to work. Did you get any kind of error message somewhere in a log?

[2022-11-08 17:06] thijsc commented on #216
It just segfaulted on the CI, so back to the drawing board.

[2022-11-08 19:43] bragovo commented on #226
Nope,nowhere. Everything was fine on Monterey, and it's works on Venture until I decided to reinstall gem.

[2022-11-09 12:51] mensfeld commented on #216
So not going to run it ;) I made some other improvements in how I work with librdkafka and rdkafka-ruby and for me atm things are super stable.

[2022-11-09 12:52] mensfeld commented on #216
We could craft a release though to add the producer flushing and address things that are already fixed prior to tackling this completely.

[2022-11-10 12:12] kauzlaricmarko opened #228 "Rescue error_callback"
Hi, maybe a stupid question but I'm new to this gem and learning how to use it. Have one question. Is it possible to rescue and exception if passed error callback raises exception, for example:

[code]

[2022-11-10 12:13] mensfeld commented on #228
No because errors are propagated in a background thread

[2022-11-10 12:17] mensfeld commented on #228
To be more precise:

https://github.com/appsignal/rdkafka-ruby/blob/26bb67aebeff44a05b4b3f5c8f3b0819b827381a/lib/rdkafka/native_kafka.rb#L15

That is for producer. You can instrument this similar to how it is done in WaterDrop for example:

https://github.com/karafka/waterdrop#error-notifications

https://github.com/karafka/waterdrop/blob/master/lib/waterdrop/producer.rb#L91

librdkafka most of th

[2022-11-10 15:45] bragovo commented on #226
Looks like lib can't compile:
[code]

:(

[2022-11-10 16:00] #226 closed

[2022-11-11 09:48] kauzlaricmarko commented on #228
Thanks for your help @mensfeld, I'll close this issue now

[2022-11-11 09:48] #228 closed

[2022-11-11 13:25] mensfeld commented on #216
@thijsc one of the things that can cause problems is how we destroy inner kafka:

[code]

why was it made that way?

I can imagine that if it just destroys stuff and Ruby runs GC prior to shutdown, things can go messy.

https://github.com/edenhill/librdkafka/blob/master/src/rdkafka_int.h#L287

[2022-11-11 15:21] mensfeld commented on #216
There seems to be one more problem and I think it's also related to us not freeing resources though not sure where.

My gut feeling is that something is not freed correctly upon close happening during a rebalance. The primary indicator of this is a hanging shutdown like this one: https://github.com/karafka/karafka/actions/runs/3438902917/jobs/5735564145

it gets stuck on librdkafka. I can reproduc

[2022-11-16 16:12] mensfeld commented on #228
@bbozo yes you are correct in a way ;)

So we have two things here actually:
- tracking deliveries
- monitoring errors EVEN when no deliveries (disconnects, frequent reconnects, instabilities) etc

For the first rdkafka returns you a message promise that you can query for it's state.

For the second you can connect to the error publishing layer for notifications.

You can also use what I linked ab

[2022-11-16 16:14] mensfeld commented on #228
You can run `wait` on handlers but they do not directly indicate a problem but rather inform you that within certain time boundaries, delivery did not went through